<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout title=i18n("admin_Welcome")>

<div class="span9">
<div >
Do you want to delete all users with email-addresses that contain the domain: ${domain.domainname} ?
</div> 
	<div>
			<form action="${contextPath}/admin/whitelist/remove" id="removal" >
				<input type="hidden" name="domainId" value="${domain.id}"/>
				<button class="btn" id="abortSubmit" name="action" value="abort">Abort this action</button>
				<button class="btn" id="deleteUserSubmit" name="action" value="deleteUsersAndDomain">Yes, i want to delete them</button>
				<button class="btn" id="deleteUserSubmit" name="action" value="deleteDomain">No, just want to delete the domain</button>
					
			</form>
	</div>
</div>

</@layout.adminLayout>
