<#import "../layout/adminLayout.ftl.html" as layout> <@layout.adminLayout
title="User Administration">
<#import "../layout/macros.ftl.html" as pag/>

<div class="pagination">

<form action="/admin/users">
<@pag.entrycount/>
</form>  

<div class="tab-content">  
<#list 1..users.getPageCount() as x > 
	<#if x = 1 >
		<div class="tab-pane active" id="${x}">  
	<#else>
		<div class="tab-pane" id="${x}">  
	</#if>
	
	<table class="table tablesorter table-hover table-condensed">
		<thead>
		    <tr>
		    	<th class="header">${i18nUser_Forename}</th>
		    	<th class="header">${i18nUser_Surname}</th>
		    	<th class="header">ID</th>
		    	<th class="header">${i18nUser_Mail}</th>
		    	<th class="header">Admin</th>
		    	<th class="header">${i18nUser_Active}</th>
		    	<th>${i18nMailbox_Delete}</th>
		    	<th>${i18nUser_Promote}</th>
		    	<th >${i18nUser_Activate}</th>
		    </tr>
		    </thead>
		    <tbody>
		<#list users.getPage(x)?sort_by("active") as user>
			<tr>
			    <td>${user.forename}</td>
			    <td>${user.surname}</td>
			    <td>${user.id}</td>
			    <td>${user.mail}</td>
			    <td>
				    <#if (user.isAdmin())>
				    	${i18nMsg_Yes}
				    <#else>
				    	${i18nMsg_No}
				    </#if>
				</td>
			    <td>
				    <#if (user.isActive())>
				    	${i18nMsg_Yes}
				    <#else>
				    	${i18nMsg_No}
				    </#if>
			    </td>
			<#if uid = user.id>	
				<td></td><td></td><td></td>		   
			 <#else>
				<td>
		   			<form class="nomarg" action="/admin/delete/${user.id}" method="post"> 
		                   <input type="submit" class="btn btn-small" value="${i18nMailbox_Delete}"/>
		        	</form>
		        </td>
			    <td> 
				    <form class="nomarg" action="/admin/promote/${user.id}" method="post">
				    <#if (user.isAdmin())>
					    	<input type="submit" class= "btn btn-small" value="${i18nUser_Demote}"/>
					    <#else>
				    		<input type="submit" class= "btn btn-small" value="${i18nUser_Promote}"/>
				    </#if>		          
				    </form>
			    </td>
			    <td> 
				    <form class="nomarg" action="/admin/activate/${user.id}" method="post">
					<#if (user.isActive())>
					   	<input type="submit" class= "btn btn-small" value="${i18nUser_Deactivate}"/>
					 <#else>
				    	<input type="submit" class= "btn btn-small" value="${i18nUser_Activate}"/>
				    </#if>
				 	</form>
				 </td>
		    </#if>
		    </tr>
		</#list>
		</tbody>
	</table>
	</div><!--  /tab-pane (active)-->
</#list>
</div><!-- /tab-content -->

<@pag.pager name=users/> 
</div><!-- /pagination -->
<@pag.incSorter vals=[6,7,8]/>
</@layout.adminLayout>
