<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout title=i18n("admin_Welcome")>
<div>
	<h1 class="legendary">${i18n("adminStatisticsTitle")}</h1>
		
	<span class="subheading">${i18n("adminStatisticsToday")}</span>
	<canvas id="lastDay" width="600" height="200"></canvas>
	<#--  class="legendary" -->
	<p></p>
	<span class="subheading">${i18n("adminStatisticsWeek")}</span>
	<canvas id="lastWeek" width="600" height="200"></canvas>
	<p></p>
	
	<!-- begin menu entries/page -->
	<!--  class="pull-right" -->
	<div>
		<ul class="pagination">
			<li class="disabled btn-xs"><a>${i18n("macro_EntriesPerPage")}</a></li>
			<li><a class="btn btn-default btn-link btn-xs" href="?no=5">5</a></li>
			<li><a class="btn btn-default btn-link btn-xs" href="?no=15">15</a></li>
			<li><a class="btn btn-default btn-link btn-xs" href="?no=25">25</a></li>
			<li><a class="btn btn-default btn-link btn-xs" href="?no=all">all</a></li>
		</ul>
	</div>
	<!-- /pagination -->
	<!-- end menu entries/page -->
	
	<!-- <div class="h-divider"> -->
	<span class="subheading">${i18n("adminStatisticsTodaySenderDomains")}</span>
	<div class="row">
		<!-- begin user table -->
		<div class="tab-content" id="dailyList">
			<!-- begin rowcount -->
			
			<!-- start pager-list -->
			<div class="pagination">
			<#if (todaysDroppedSenderTable.getPageCount() > 1) >
				<ul class="pagination">
				<li class="disabled"><a>${i18n("macro_Page")}: </a></li>
				<#list 1..todaysDroppedSenderTable.getPageCount() as x >  
					<#if x = 1 >
						<li class="active"><a href="#dailyListPane${x}" data-toggle="tab">${x}</a></li>
					<#else>
						<li ><a href="#dailyListPane${x}" data-toggle="tab">${x}</a></li>
					</#if>
				</#list>
				</ul>  
			</#if>
			</div> <!-- /pagination -->
			<!-- end pager-list -->
			
			<!-- end rowcount -->
			<#list 1..(todaysDroppedSenderTable.getPageCount())!0 as x >
				<#if x = 1 >
					<div class="tab-pane active" id="dailyListPane${x}">
				<#else>
					<div class="tab-pane" id="dailyListPane${x}">
				</#if>
				<table class="table tablesorter table-hover table-condensed">
					<thead>
						<tr>
							<th class="header">${i18n("adminStatisticsSenderDomain")}</th>
							<th class="header">${i18n("adminStatisticsDroppedMails")}</th>
							<th class="header">${i18n("adminStatisticsForwardedMails")}</th>
						</tr>
					</thead>
					<tbody>
						<#list todaysDroppedSenderTable.getPage(x) as entry>
							<tr>
								<td>${entry.key.fromDomain}</td>
								<td>${entry.dropCount?string[",##0"]}</td>
								<td>${entry.forwardCount?string[",##0"]}</td>
							</tr>
						</#list>
					</tbody>
				</table>
				</div><!--  /tab-pane (active)-->
			</#list>
		</div><!-- /tab-content -->
	</div><!-- /row -->
	<!-- end statistics table -->
	
	<span class="subheading">${i18n("adminStatisticsWeekSenderDomains")}</span>
	<div class="row">
		<!-- begin user table -->
		<div class="tab-content" id="weeklyList">
			<!-- begin rowcount -->
			
			<!-- start pager-list -->
			<div class="pagination">
			<#if (weeksDroppedSenderTable.getPageCount() > 1) >
				<ul class="pagination">
				<li class="disabled"><a>${i18n("macro_Page")}: </a></li>
				<#list 1..weeksDroppedSenderTable.getPageCount() as x >  
					<#if x = 1 >
						<li class="active"><a href="#weeklyListPane${x}" data-toggle="tab">${x}</a></li>
					<#else>
						<li ><a href="#weeklyListPane${x}" data-toggle="tab">${x}</a></li>
					</#if>
				</#list>
				</ul>
			</#if>
			</div> <!-- /pagination -->
			<!-- end pager-list -->
			
			<!-- end rowcount -->
			<#list 1..(weeksDroppedSenderTable.getPageCount())!0 as x >
				<#if x = 1 >
					<div class="tab-pane active" id="weeklyListPane${x}">
				<#else>
					<div class="tab-pane" id="weeklyListPane${x}">
				</#if>
				<table class="table tablesorter table-hover table-condensed">
					<thead>
						<tr>
							<th class="header">${i18n("adminStatisticsSenderDomain")}</th>
							<th class="header">${i18n("adminStatisticsDroppedMails")}</th>
							<th class="header">${i18n("adminStatisticsForwardedMails")}</th>
						</tr>
					</thead>
					<tbody>
						<#list weeksDroppedSenderTable.getPage(x) as entry>
							<tr>
								<td>${entry.key.fromDomain}</td>
								<td>${entry.dropCount?string[",##0"]}</td>
								<td>${entry.forwardCount?string[",##0"]}</td>
							</tr>
						</#list>
					</tbody>
				</table>
				</div><!--  /tab-pane (active)-->
			</#list>
		</div><!-- /tab-content -->
	</div><!-- /row -->
	<!-- end statistics table -->
	
	<script>
		let lastDayTimestamps = [<#list lastDayTimestamps as value>${value},</#list>]
		let lastDayDroppedData = [<#list lastDayDroppedData as value>${value},</#list>]
		let lastDayForwardedData = [<#list lastDayForwardedData as value>${value},</#list>]
		
		let lastWeekTimestamps = [<#list lastWeekTimestamps as value>${value},</#list>]
		let lastWeekDroppedData =  [<#list lastWeekDroppedData as value>${value},</#list>]
		let lastWeekForwardedData =  [<#list lastWeekForwardedData as value>${value},</#list>]
	
		let lastDayChart = new Chart(document.getElementById("lastDay").getContext('2d'), {
			type: 'line',
			backgroundColor: '#ff6384',
			
			data: {
					labels: lastDayTimestamps,
					datasets: [{
						label: "${i18n("adminStatisticsDroppedMails")}",
						data: lastDayDroppedData,
						borderColor: 'rgb(255, 99, 132)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }, {
					  	label: "${i18n("adminStatisticsForwardedMails")}",
						data: lastDayForwardedData,
						borderColor: 'rgb(54, 162, 235)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }]
				  },
		    options: { 
		    	scales: {
                	xAxes: [{
                    	type: 'time',
                    	time: {
	                        unit: 'hour',
    	                    parser: 'x'
        	            }
            	    }],
            	    yAxes: [{
                		ticks: {
                    		callback: function(value, index, values) {
                        		return  value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                    		}
                		}
            		}]
            	}
            }
		});
		
		let lastWeekChart = new Chart(document.getElementById("lastWeek").getContext('2d'), {
			type: 'line',
			data: {
					labels: lastWeekTimestamps,
					datasets: [{
						label: "${i18n("adminStatisticsDroppedMails")}",
						data: lastWeekDroppedData,
						borderColor: 'rgb(255, 99, 132)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }, {
						label: "${i18n("adminStatisticsForwardedMails")}",
						data: lastWeekForwardedData,
						borderColor: 'rgb(54, 162, 235)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }]
				  },
			options: { 
		    	scales: {
                	xAxes: [{
                		type: 'time',
                    	time: {
	                        unit: 'day',
    	                    parser: 'x'
        	            }
            	    }],
            	    yAxes: [{
                		ticks: {
                    		callback: function(value, index, values) {
                        		return  value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    		}
                		}
            		}]
            	}
            }
		});
		
		
		lastDayChart.update();
		lastWeekChart.update();
	</script>
</div>
</@layout.adminLayout>