<#import "../layout/adminLayout.ftl.html" as layout> <@layout.adminLayout
title=i18n("adminUserPage_Title")>
<#import "../layout/macros.ftl.html" as pag/>

<div class="pagination">
<h1 class="legendary">${i18n("adminUserPage_Title")}</h1>
<form action="/admin/users">
<@pag.entrycount/>
</form>  

<div class="tab-content">  
<#list 1..(users.getPageCount())!0 as x > 
	<#if x = 1 >
		<div class="tab-pane active" id="${x}">  
	<#else>
		<div class="tab-pane" id="${x}">  
	</#if>
	
	<table class="table tablesorter table-hover table-condensed">
		<thead>
		    <tr>
		    	<th class="header">${i18n("adminUserPage_Header_FirstName")}</th>
		    	<th class="header">${i18n("adminUserPage_Header_Name")}</th>
		    	<th class="header">ID</th>
		    	<th class="header">${i18n("adminUserPage_Header_Mail")}</th>
		    	<th class="header">${i18n("adminUserPage_Header_IsAdmin")}</th>
		    	<th class="header">${i18n("adminUserPage_Header_Status")}</th>
		    	<th>${i18n("mailbox_Header_Delete")}</th>
		    	<th>${i18n("adminUserPage_Header_Promote")}</th>
		    	<th>${i18n("adminUserPage_Header_Activate")}</th>
		    </tr>
		    </thead>
		    <tbody>
		<#list users.getPage(x)?sort_by("active") as user>
			<tr>
			    <td>${user.forename}</td>
			    <td>${user.surname}</td>
			    <td>${user.id}</td>
			    <td>${user.mail}</td>
			    <td>
				    <#if (user.isAdmin())>
				    	${i18n("msg_Yes")}
				    <#else>
				    	${i18n("msg_No")}
				    </#if>
				</td>
			    <td>
				    <#if (user.isActive())>
				    	${i18n("msg_Yes")}
				    <#else>
				    	${i18n("msg_No")}
				    </#if>
			    </td>
			<#if uid = user.id>	
				<td></td><td></td><td></td>		   
			 <#else>
				<td>
		   			<form class="nomarg" action="${contextPath}/admin/delete/${user.id}" method="post"> 
		                   <input type="submit" class="btn btn-small btn-danger" value="${i18n("adminUserPage_Button_Delete")}"/>
		        	</form>
		        </td>
			    <td> 
				    <form class="nomarg" action="${contextPath}/admin/promote/${user.id}" method="post">
				    <#if (user.isAdmin())>
					    	<input type="submit" class= "btn btn-small btn-warning" value="${i18n("adminUserPage_Button_Demote")}"/>
					    <#else>
				    		<input type="submit" class= "btn btn-small btn-danger" value="${i18n("adminUserPage_Button_Promote")}"/>
				    </#if>		          
				    </form>
			    </td>
			    <td> 
				    <form class="nomarg" action="${contextPath}/admin/activate/${user.id}" method="post">
					<#if (user.isActive())>
					   	<input type="submit" class= "btn btn-small" value="${i18n("adminUserPage_Button_Deactivate")}"/>
					 <#else>
				    	<input type="submit" class= "btn btn-small" value="${i18n("adminUserPage_Button_Activate")}"/>
				    </#if>
				 	</form>
				 </td>
		    </#if>
		    </tr>
		</#list>
		</tbody>
	</table>
	</div><!--  /tab-pane (active)-->
</#list>
</div><!-- /tab-content -->

<@pag.pager name=users/> 
</div><!-- /pagination -->
<@pag.incSorter vals=[6,7,8]/>
</@layout.adminLayout>
