<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout title=i18n("admin_Welcome")>

<#import "../layout/macros.ftl.html" as pag/>
<div>
	<h1 class="legendary">Email Statistics</h1>
		
	<h3 class="legendary">Daily</h3>
	<canvas id="lastDay" width="600" height="200"></canvas>
	
	<h3 class="legendary">Weekly</h3>
	<canvas id="lastWeek" width="600" height="200"></canvas>
	
	<h3 class="legendary">Today's sender domains</h3>
	<!-- begin rowcount -->
	<@pag.entrycount/>
	<!-- end rowcount -->
	<div class="row">
	<!-- begin user table -->
	<div class="tab-content">
		<#list 1..(mailSenderTable.getPageCount())!0 as x >
			<#if x = 1 >
				<div class="tab-pane active" id="${x}">
			<#else>
				<div class="tab-pane" id="${x}">
			</#if>
			<table class="table tablesorter table-hover table-condensed">
				<thead>
					<tr>
						<th class="header">Sender Domain</th>
						<th class="header">Dropped Mails</th>
						<th class="header">Forwarded Mails</th>
					</tr>
				</thead>
				<tbody>
					<#list mailSenderTable.getPage(x) as entry>
						<tr>
							<td>${entry.key.fromDomain}</td>
							<td>${entry.dropCount?string[",##0"]}</td>
							<td>${entry.forwardCount?string[",##0"]}</td>
						</tr>
					</#list>
				</tbody>
			</table>
			</div><!--  /tab-pane (active)-->
		</#list>
	</div><!-- /tab-content -->
	<!-- end statistics table -->
	
	<script>
		var lastDayTimestamps = [<#list lastDayTimestamps as value>"${value}",</#list>]
		var lastDayDroppedData = [<#list lastDayDroppedData as value>${value},</#list>]
		var lastDayForwardedData = [<#list lastDayForwardedData as value>${value},</#list>]
		
		var lastWeekTimestamps = [<#list lastWeekTimestamps as value>"${value}",</#list>]
		var lastWeekDroppedData =  [<#list lastWeekDroppedData as value>${value},</#list>]
		var lastWeekForwardedData =  [<#list lastWeekForwardedData as value>${value},</#list>]
		
		var currentDayData = [];
		for (var i = 0; i < lastDayDroppedData.length; i++) {
			currentDayData[i] = { "y": lastDayDroppedData[i],
						   	      "t": lastDayTimestamps[i]};
		}
		
		var currentWeekData = [];
		for (var i = 0; i < lastWeekDroppedData.length; i++) {
			currentWeekData[i] = {  "y": lastWeekDroppedData[i],
						   	   		"t": lastWeekTimestamps[i]};
		}
		 
	
		var lastDayChart = new Chart(document.getElementById("lastDay").getContext('2d'), {
			type: 'line',
			backgroundColor: '#ff6384',
			
			data: {
					labels: lastDayTimestamps,
					datasets: [{
						label: "Dropped mails",
						data: currentDayData,
						borderColor: 'rgb(255, 99, 132)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }, {
					  	label: "Forwarded mails",
						data: lastDayForwardedData,
						borderColor: 'rgb(54, 162, 235)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }]
				  },
		    options: { 
		    	scales: {
                	xAxes: [{
                    	type: 'time',
                    	time: {
	                        unit: 'hour',
    	                    parser: "DD.MM.YYYY hh:mm:ss"
        	            }
            	    }],
            	    yAxes: [{
                		ticks: {
                    		callback: function(value, index, values) {
                        		return  value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    		}
                		}
            		}]
            	}
            }
		});
		
		var lastWeekChart = new Chart(document.getElementById("lastWeek").getContext('2d'), {
			type: 'line',
			data: {
					labels: lastWeekTimestamps,
					datasets: [{
						label: "Dropped mails",
						data: currentWeekData,
						borderColor: 'rgb(255, 99, 132)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }, {
						label: "Forwarded mails",
						data: lastWeekForwardedData,
						borderColor: 'rgb(54, 162, 235)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }]
				  },
			options: { 
		    	scales: {
                	xAxes: [{
                		type: 'time',
                    	time: {
	                        unit: 'day',
    	                    parser: "DD.MM.YYYY hh:mm:ss"
        	            }
            	    }],
            	    yAxes: [{
                		ticks: {
                    		callback: function(value, index, values) {
                        		return  value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    		}
                		}
            		}]
            	}
            }
		});
		
		
		lastDayChart.update();
		lastWeekChart.update();
	</script>
</div>
<@pag.pager name=mailSenderTable/>
<@pag.incSorter/>
</@layout.adminLayout>