<#import "../layout/adminLayout.ftl.html" as layout> <@layout.adminLayout
title=i18n("admin_Title_SummedStatistics")>
<#import "../layout/macros.ftl.html" as pag/>

<h1 class="legendary">${i18n("admin_Title_SummedStatistics")}</h1>

<div class="span4">
<#if ((stats?size) > 0) > 
<table class="table tablesorter table-hover table-condensed">
	<thead>
	    <tr> <th class="header">${i18n("admin_Header_MtxStatus")}</th> <th class="header">${i18n("admin_Header_MtxCount")}</th> </tr>
	</thead>
	<tbody>
    	<#list stats as stat>
   			<#switch stat.statuscode>
	    		<#case 100><tr class="error" id="mtxStatus100"><#break>
	    		<#case 200><tr class="warning"  id="mtxStatus200"><#break>
	    		<#case 300><tr class="success" id="mtxStatus300"><#break>
	    		<#case 400><tr class="error" id="mtxStatus400"><#break>
	    		<#case 500><tr class="error" id="mtxStatus500"><#break>
	    		<#default><tr  id="mtxStatusDefault"><#break>
	    	</#switch>
 		    	<td>
			    	<#switch stat.statuscode>
			    		<#case 100> ${i18n("admin_MtxStatus100")}	<#break>
			    		<#case 200> ${i18n("admin_MtxStatus200")}	<#break>
			    		<#case 300> ${i18n("admin_MtxStatus300")} <#break>
			    		<#case 400> ${i18n("admin_MtxStatus400")} <#break>
			    		<#case 500> ${i18n("admin_MtxStatus500")} <#break>
			    		<#default> 	${i18n("admin_MtxStatusUnknown")} <#break>
			    	</#switch>
			    </td>
	    		<td>${stat.count}</td>
    		</tr>
    	</#list>
    	</tbody>
    </table>
</div><!-- /span4 -->

 <@pag.incSorter/>
 
  <#else>
  ${i18n("admin_Table_NoEntries")}
</#if>

</@layout.adminLayout>	
