<#import "../layout/adminLayout.ftl.html" as layout>
<@layout.adminLayout title=i18n("adminDomainWhitelist_Title")>
<#if (whitelist!true)>
<form>
	<fieldset>
		<legend>${i18n("adminDomainWhitelist_Title")}</legend>
	</fieldset>
</form>
	<#if ((domains?size)> 0) >
		<form action="${contextPath}/admin/whitelist/remove" method="post" id="removeDomains" name="removeDomain">
		<div class="control-group">
			<div class=" controls-row">
				<label class="control-label" for="removeDomainsSelection">${i18n("adminDomainWhitelist_Label_RemoveDomain")}</label>	
				<select id="removeDomainsSelection" name="removeDomainsSelection">
					<#list domains as singleDomain>
						 <option value="${singleDomain.id}">${singleDomain.domainname}</option>
					</#list>
				</select>
			</div>
			<input type="submit" class="btn" id="removeDomainsSubmit" value='${i18n("adminDomainWhitelist_Button_RemoveDomain")}' />
		</div>
		</form>
	<#else>
		<div>
			<p>
				${i18n("adminDomainWhitelist_Label_NoDomains")}
			</p> 
		</div>
	</#if>
	<form action="${contextPath}/admin/whitelist/add" method="post"  id="addDomain" name="addDomain">
	<div class="control-group">
		<div class=" controls-row">
			<label class="control-label" for="inputAddDomain">${i18n("adminDomainWhitelist_Label_AddDomain")}</label>
			<input class="input_full" type="text" id="inputAddDomain" name="domainName" required="required" />
		</div>
		<input type="submit" class="btn" id="addDomainSubmit" value='${i18n("adminDomainWhitelist_Button_AddDomain")}' />
	</div>
	</form>
<#else>
<h1 class="legendary">${i18n("adminDomainWhitelist_Title_WhitelistDisabled")}</h1>
<div>
	${i18n("adminDomainWhitelist_Label_WhitelistDisabledDescription")}
</div>
</#if>
</@layout.adminLayout>
