<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout
"Home page">

<!-- Example row of columns -->
<div class="row">
	<div class="span4">
		<p>${string}</p> <!-- String to return some information-messages -->
		<p> ${app_welcome} </p>
		<p>Linklist: 
		<li><a href="./register" data-toggle="tooltip" >Register</a></li>
		<li><a href="./login">Login</a></li>
		<li><a href="#" data-toggle="tooltip" title="first tooltip">hover over me</a></li>
		<li></li>
		</ul>
		</p>
		
	</div>
</div>

</@layout.myLayout>



