<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout "Home page">

<div class="span7">
<form action="/login" method="post" class="form-horizontal">
<fieldset>
<legend>${i18nlink_login}</legend>  
        <div class="control-group"> 
			<label class="control-label" for="mail"> ${i18nuser_mail} </label>
			<div class="controls">  
				<input class="input_full" type="email" id="mail" name="mail" required="required" value="${(login.mail)!}"/>
			</div>
		</div>
		<div class="control-group"> 
			<label class="control-label" for="pwd"> ${i18nuser_pw} </label>
			<div class="controls"> 
				<input class="input_full" type="password" id="pwd" name="pwd" required="required" value="${(login.pwd)!}"/>
			</div>
		</div>
		<div class="form-actions"> 
			<input type="submit" class="btn" value="${i18nlink_login}" /> 
			<input type="reset" class="btn"	value="Reset"> 
			<br/> <a href="/pwresend">${i18nlink_forgotpw}</a>
		</div>
</fieldset>
</form>
</div>

</@layout.xcLayout>
