<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">


<form action="/login" method="post">
	<table class="form">
		<tr>
			<th><label for="mail"> ${i18nuser_mail} </label></th>
			<td><input class="input_full" type="email" id="mail"
				name="mail" required="required" value="${(login.mail)!}"/></td>
		</tr>

		<tr>
			<th><label for="pwd"> ${i18nuser_pw} </label></th>
			<td><input class="input_full" type="password" id="pwd"
				name="pwd" required="required" value="${(login.pwd)!}"/></td>
		</tr>
	</table>

	<p>
		<input type="submit" class="btn" value="${i18nlink_login}" /> <input type="reset" class="btn" 
			value="Reset"> 
			<br/> <a href="/pwresend">${i18nlink_forgotpw}</a>
	</p>
</form>

</@layout.myLayout>
