<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">


<form action="/lostpw/${id}/${token}" method="post">
	<table class="form">
		<tr>
			<th><label for="pw"> ${user_pw1} </label></th>
			<td><input class="input_full" type="password" id="pw"
				name="pw" value="${(pwd.pw)!}" required="required"/></td>
		</tr>
		<tr>
			<th><label for="pw2"> ${user_pw2} </label></th>
			<td><input class="input_full" type="password" id="pw2"
				name="pw2" value="${(pwd.pw2)!}" required="required"/></td>
		</tr>

	</table>

	<p>
		<input type="submit" class="btn" value="${i18nlink_forgotpw}" /> <input type="reset" class="btn" 
			value="Reset"> 
			<br/> 
	</p>
</form>

</@layout.myLayout>
