<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout "Home page">

<div class="span7">
<form action="/lostpw/${id}/${token}" method="post" class="form-horizontal">
<fieldset>
<legend></legend>
        <div class="control-group"> 
			<label class="control-label" for="pw"> ${i18nUser_Pw1} </label>
			<div class="controls">  
				<input class="input_full" type="password" id="pw" name="pw" value="${(pwd.pw)!}" required="required"/>
			</div>
		</div>
		<div class="control-group"> 
			<label class="control-label"  for="pw2"> ${i18nUser_Pw2} </label>
				<div class="controls">  
				<input class="input_full" type="password" id="pw2" name="pw2" value="${(pwd.pw2)!}" required="required"/>
				</div>
		</div>
		<div class="form-actions"> 
		<input type="submit" class="btn" value="${i18nLink_ForgotPw}" /> 
		<input type="reset" class="btn" value="Reset"> 
		</div>	
</fieldset>
</form>
</div>

</@layout.xcLayout>
