<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout title="Home page">

<div class="span7">
<form action="${contextPath}/pwresend" method="post" class="form-horizontal">
<fieldset>
	  <legend>${i18n("forgotPassword_Title")}</legend>
       <div class="control-group"> 
		<label class="control-label"  for="mail"> ${i18n("forgotPassword_Email_Label")} </label>
		<div class="controls">  
			<input class="input_full" type="email" id="mail" name="mail" required="required"/>
		</div>
	</div>
	<div class="form-actions"> 
		<input type="reset" class="btn" value="${i18n("forgotPassword_Reset_Button")}"/>
		<input type="submit" class="btn btn-primary" value="${i18n("forgotPassword_Submit_Button")}" /> 
	</div>
</fieldset>
</form>
</div>
</@layout.xcLayout>
