<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout title=i18n("forgotPassword_Title")>

<form action="${contextPath}/pwresend" method="post" class="form-horizontal" id="formForgotPassword" name="formForgotPassword">
	<fieldset>
		<legend>${i18n("forgotPassword_Title")}</legend>
		<div class="col-md-8">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="mail"> ${i18n("forgotPassword_Label_Email")} </label>
				<div class="col-sm-10 controls">
					<input class="form-control" type="email" id="inputForgotPasswordMail" name="mail" required="required" />
				</div>
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<div class="form-group modal-footer">
					<input type="reset" class="btn btn-warning" id="btnForgotPasswordReset" value='${i18n("forgotPassword_Button_Reset")}' /> 
					<input type="submit" class="btn btn-success btn-submit" id="btnForgotPasswordSubmit"
						value='${i18n("forgotPassword_Button_Submit")}' />
				</div>
			</div>
		</div>
	</fieldset>
</form>
</@layout.xcLayout>