<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout title=i18n("forgotPassword_Title")>

<div class="col-md-7">
	<form action="${contextPath}/pwresend" method="post" id="formForgotPassword" class="form-horizontal">
		<fieldset>
			<legend>${i18n("forgotPassword_Title")}</legend>
			<div class="col-md-8">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="mail"> ${i18n("forgotPassword_Label_Email")} </label>
					<div class="col-sm-10 controls">
						<input class="form-control" type="email" id="inputForgotPasswordMail" name="mail" required="required" />
					</div>
				</div>
				<div class="form-actions">
					<input type="reset" class="btn btn-default" id="btnForgotPasswordReset" value='${i18n("forgotPassword_Button_Reset")}' />
					<input type="submit" class="btn btn-primary" id="btnForgotPasswordSubmit" value='${i18n("forgotPassword_Button_Submit")}' />
				</div>
			</div>
		</fieldset>
	</form>
</div>
</@layout.xcLayout>
