<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout title=i18n("forgotPassword_Title")>

<div class="span7">
<form action="${contextPath}/pwresend" method="post" id="formForgotPassword" class="form-horizontal">
<fieldset>
	  <legend>${i18n("forgotPassword_Title")}</legend>
       <div class="control-group"> 
		<label class="control-label"  for="mail"> ${i18n("forgotPassword_Label_Email")} </label>
		<div class="controls">  
			<input class="input_full" type="email" id="inputForgotPasswordMail" name="mail" required="required"/>
		</div>
	</div>
	<div class="form-actions"> 
		<input type="reset" class="btn" id="btnForgotPasswordReset" value='${i18n("forgotPassword_Button_Reset")}'/>
		<input type="submit" class="btn btn-primary" id="btnForgotPasswordSubmit" value='${i18n("forgotPassword_Button_Submit")}' /> 
	</div>
</fieldset>
</form>
</div>
</@layout.xcLayout>
