<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout title=i18n("app_Welcome")>
<div class="row">
	<div class="span7">
		<h1 class="legendary">${i18n("app_Welcome")}</h1>
		<p>
			<i class="icon-thumbs-up"> </i>
			${i18n("app_Description")}
		</p>
		<p>
		<#if (available_langs)??>
			<ul> ${i18n("app_Label_AvailableLang")}
			<#list available_langs as lng>
				<li><a href="?lang=${lng[0]}">${lng[1]}</a></li>
			</#list>
			</ul>
		</#if>
		</p>

	</div>
</div>
</@layout.xcLayout>



