<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout title=i18n("login_Title")>

<div class="span7">
<form action="${contextPath}/login" method="post" id="formLogin" class="form-horizontal">
<fieldset>
<legend>${i18n("login_Title")}</legend>  
        <div class="control-group"> 
			<label class="control-label" for="mail"> ${i18n("login_Label_Email")} </label>
			<div class="controls">  
				<input class="input_full" type="email" id="inputLoginMail" name="mail" required="required" value="${(login.mail)!}"/>
			</div>
		</div>
		<div class="control-group"> 
			<label class="control-label" for="pwd"> ${i18n("login_Label_Password")} </label>
			<div class="controls"> 
				<input class="input_full" type="password" id="inputLoginPassword" name="password" required="required" value="${(login.password)!}"/>
				<span class="help-inline"><a href="${contextPath}/pwresend">${i18n("login_Label_Link_ForgotPassword")}</a></span>
			</div>
		</div>
		<div class="form-actions"> 
			<input type="reset" class="btn"	id="btnLoginReset" value='${i18n("login_Button_Reset")}'/>
			<input type="submit" class="btn btn-primary" id="btnLoginSubmit" value='${i18n("login_Button_Login")}' /> 
		</div>
</fieldset>
</form>
</div>

</@layout.xcLayout>
