<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout title="Home page">

<div class="span7">
<form action="/login" method="post" class="form-horizontal">
<fieldset>
<legend>${i18nLink_Login}</legend>  
        <div class="control-group"> 
			<label class="control-label" for="mail"> ${i18nUser_Mail} </label>
			<div class="controls">  
				<input class="input_full" type="email" id="mail" name="mail" required="required" value="${(login.mail)!}"/>
			</div>
		</div>
		<div class="control-group"> 
			<label class="control-label" for="pwd"> ${i18nUser_Pw} </label>
			<div class="controls"> 
				<input class="input_full" type="password" id="pwd" name="pwd" required="required" value="${(login.pwd)!}"/>
			</div>
		</div>
		<div class="form-actions"> 
			<input type="submit" class="btn" value="${i18nLink_Login}" /> 
			<input type="reset" class="btn"	value="Reset"> 
			<br/> <a href="/pwresend">${i18nLink_ForgotPw}</a>
		</div>
</fieldset>
</form>
</div>

</@layout.xcLayout>
