<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout title="Home page">

<div class="span7">
<form action="${contextPath}/lostpw/${id}/${token}" method="post" class="form-horizontal">
<fieldset>
<legend></legend>
        <div class="control-group"> 
			<label class="control-label" for="password"> ${i18n("user_Pw1")} </label>
			<div class="controls">  
				<input class="input_full" type="password" id="password" name="password" value="${(passwordFormData.password)!}" required="required"/>
			</div>
		</div>
		<div class="control-group"> 
			<label class="control-label"  for="password2"> ${i18n("user_Pw2")} </label>
				<div class="controls">  
				<input class="input_full" type="password" id="password2" name="password2" value="${(passwordFormData.password2)!}" required="required"/>
				</div>
		</div>
		<div class="form-actions"> 
		<input type="reset" class="btn" value="${i18n("msg_Reset")}"/>
		<input type="submit" class="btn btn-primary" value="${i18n("link_ForgotPw")}" /> 
		</div>	
</fieldset>
</form>
</div>

</@layout.xcLayout>
