<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout
title="Home page">

<div class="cpan7">
	<form action="/register" method="post" class="form-horizontal">
		<fieldset>
			<legend>${i18nLink_Register}</legend>
			<div class="control-group">
				<label class="control-label" for="forename">${i18nUser_Forename} </label>
				<div class="controls">
					<input class="input_full" type="text" id="forename" name="forename"	value="${(editUsr.forename)!}" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="surname">
					${i18nUser_Surname} </label>
				<div class="controls">
					<input class="input_full" type="text" id="surName" name="surName" value="${(editUsr.surName)!}" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="mail"> ${i18nUser_Mail} </label>
				<div class="controls">
					<input class="input_full" type="email" id="mail" name="mail" value="${(editUsr.mail)!}" required="required" />
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="user_pw"> ${i18nUser_Pw} </label>
				<div class="controls">
					<input class="input_full" type="password" id="pw" name="pw" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="user_pwagain">${i18nUser_PwAgain} </label>
				<div class="controls">
					<input class="input_full" type="password" id="pwn1" name="pwn1" required="required" />
				</div>
			</div>
			<div class="control-group">
			<label class="control-label"  for="language"> ${i18nUser_Language} </label>
			<div class="controls">
			<select name="language" id="language" >
		  			<#if lang=="de">	
		  				<option value="de" selected="selected">Deutsch</option>
		  			<#else>
		  				<option value="de">Deutsch</option>
		  			</#if>
		  			<#if lang=="en">
		  				<option value="en" selected="selected">English</option>
		  			<#else>
		  				<option value="en">English</option>
		  			</#if>
			</select>
			</div>
		</div>

			<div class="form-actions">
				<input type="submit" class="btn" value="${i18nUser_Create}" /> 
				<input type="reset" class="btn" value="Reset">
			</div>
		</fieldset>
	</form>
</div>
</@layout.xcLayout>
