<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout
title="Home page">

<div class="span7">
	<form action="${contextPath}/register" method="post" class="form-horizontal">
		<fieldset>
			<legend>${i18n("registerUser_Title")}</legend>
			<div class="control-group">
				<label class="control-label" for="firstName">${i18n("registerUser_FirstName_Label")} </label>
				<div class="controls">
					<input class="input_full" type="text" id="firstName" name="firstName" value="${(editUsr.firstName)!}" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="surname">
					${i18n("registerUser_Name_Label")} </label>
				<div class="controls">
					<input class="input_full" type="text" id="surName" name="surName" value="${(editUsr.surName)!}" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="mail"> ${i18n("registerUser_Email_Label")} </label>
				<div class="controls">
					<input class="input_full" type="email" id="mail" name="mail" value="${(editUsr.mail)!}" required="required" />
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="user_pw"> ${i18n("registerUser_Password_Label")} </label>
				<div class="controls">
					<input class="input_full" type="password" id="pw" name="pw" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="user_pwagain">${i18n("registerUser_Password_Repeat_Label")} </label>
				<div class="controls">
					<input class="input_full" type="password" id="pwn1" name="pwn1" required="required" />
				</div>
			</div>
		<div class="control-group">
			<label class="control-label"  for="language2"> ${i18n("registerUser_Language_Label")} </label>
			<div class="controls">
			<select name="language" id="language" >
			<#list available_langs as lng>
				<#if (editUsr.language)??>
		  			<#if editUsr.language==lng[0]>	
		  			<option value="${lng[0]}" selected="selected">${lng[1]}</option>
		  			<#else>
		  			<option value="${lng[0]}" >${lng[1]}</option>
		  			</#if>
		  		<#else>
		  		<option value="${lng[0]}" >${lng[1]}</option>
		  		</#if>		
			</#list>
			</select>
			</div>
		</div>
		<div class="form-actions">
			<input type="reset" class="btn" value="${i18n("registerUser_Reset_Button")}"/>
			<input type="submit" class="btn btn-primary" value="${i18n("registerUser_Create_Button")}" /> 
		</div>
		</fieldset>
	</form>
</div>
</@layout.xcLayout>
