<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout title=i18n("resetPassword_Title")>

<div class="span7">
<form action="${contextPath}/lostpw/${id}/${token}" id="formResetPassword" method="post" class="form-horizontal">
<fieldset>
<legend>${i18n("resetPassword_Title")}</legend>
        <div class="control-group passwords"> 
			<label class="control-label" for="password"> ${i18n("resetPassword_Label_NewPassword")} </label>
			<div class="controls">  
				<input class="input_full" type="password" id="inputResetPassword" name="password" value="${(passwordFormData.password)!}" required="required"/>
			</div>
		</div>
		<div class="control-group passwords"> 
			<label class="control-label"  for="password2"> ${i18n("resetPassword_Label_NewPasswordRepeated")} </label>
				<div class="controls" id="divPasswordRepeat">  
				<input class="input_full" type="password" id="inputResetPasswordRepetition" name="password2" value="${(passwordFormData.password2)!}" required="required"/>
				</div>
		</div>
		<div class="form-actions"> 
		<input type="reset" class="btn"  id="btnResetPasswordReset" value='${i18n("resetPassword_Button_Reset")}'/>
		<input type="submit" class="btn btn-primary"  id="btnResetPasswordSubmit" value='${i18n("resetPassword_Button_Save")}' /> 
		</div>	
</fieldset>
</form>
<script type="text/javascript">
	$('#btnResetPasswordSubmit')
	.click(
			function() {
				var pw1 = $('#inputResetPassword').val();
				var pw2 = $('#inputResetPasswordRepetition').val();
				if (pw1 != pw2) {
					$('#pwUnequalErrorSpan').remove();
					$('.passwords').removeClass("error");
					$('#divPasswordRepeat')
							.append(
									'<span class="help-inline" id="pwUnequalErrorSpan">${i18n("flash_PasswordsUnequal")}</span>')
					$('.passwords').addClass("error");
					return false;
				} else {
					$('#formResetPassword')[0].submit();
				}
			});
	
		$('#btnResetPasswordReset').click(function() {
			$('#pwUnequalErrorSpan').remove();
			$('.passwords').removeClass("error");
			$('#formResetPassword')[0].reset();
		});
</script>


</div>

</@layout.xcLayout>
