<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout
title=i18n("createEmail_Title")>
<div class="row">
	<div class="span7">
		<form action="${contextPath}/mail/add" method="post" class="form-horizontal" id="addBoxForm">
			<fieldset>
				<legend>${i18n("createEmail_Title")}</legend>
				<!-- row: email-address -->
				<div class="control-group" id="emailRow">
					<label class="control-label" for="address">	${i18n("createEmail_Label_Address")} </label>
					<div class="controls" id="emailRowControl">
						<div class="input-append" id="mailInputDiv">
							<input class="input_full" type="text" id="address" name="address" value="${ (mbFrmDat.address)!}" required="required" />
							<span class="add-on">@</span>
							<select name="domain"> 
								<#list domain as String> 
									<#if (mbFrmDat.domain)??> 
										<#if (mbFrmDat.domain == String)>
											<option value="${String}" selected="selected">${String}</option>
										<#else>
											<option value="${String}">${String}</option> 
										</#if> 
									<#else>
										<option value="${String}">${String}</option> 
									</#if> 
								</#list>
							</select>
						</div>
					</div>
				</div>		
				<!-- row: life-time of the address -->
				<div class="control-group" id="validityRow">
					<label class="control-label" for="datetime">${i18n("createEmail_Label_Duration")}</label>
					<div class="controls">
				  	<div id="datetimepicker" class="input-append">
				    	<input data-format="dd.MM.yyyy hh:mm" id="datetime" name="datetime" type="text" value="${ (mbFrmDat.datetime)!}" required="required"/>
					    <span id="pickr_span" class="add-on">
					      <i id="pickr_i" data-time-icon="icon-time" data-date-icon="icon-calendar" class="group1"></i>
					    </span>
				    </div>
				  </div>
				    <div class="controls">
				    	<input type="checkbox" id="chkUnlimited" onClick="toggle(this)" /> ${i18n("createEmail_Unlimited")}
				    </div>
				</div>
				<script type="text/javascript">
					$(function() {
						$('#datetimepicker').datetimepicker({
							language : '${lang}',
							pick12HourFormat : false,
							startDate : new Date()
						});
					});

					$(document).ready(function() {
						//handle the reset-button
						$('input#createEmailReset.btn').click(function reset() {
							var chkBxUnlimited = $('input#chkUnlimited');
							if(chkBxUnlimited.is(':checked')){
								var dateval = $('input#chkUnlimited').attr('value');
								//add the attribute to datetime input field 
								$('input#datetime').attr("value", dateval);
								//remove it from the checkbox 
								$('input#chkUnlimited').removeAttr('value');
							}
							$('input#chkUnlimited').removeAttr('checked');
							$('input#datetime').removeAttr('style');
							$('span#pickr_span').removeAttr('style');
							$('i#pickr_i').removeAttr('style');
							$('#mailInvalidErrorSpan').remove();
							$('#emailRow').removeClass('error');
							$('#addBoxForm')[0].reset();
							
						});
						
						//handle the submit-button
						$('#createEmailSubmit')
						.click(
								function() {
									var mailRegExp = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*$/m
									var localPart = $('#address').val();
									var match = mailRegExp.test(localPart);
									
									if (match) {
										$('#addBoxForm').submit();
										
										return false;
									} else {
										$('#mailInvalidErrorSpan').remove();
										$('#emailRow').removeClass('error');
										
										$('#emailRowControl')
										.append('<span class="help-inline" id="mailInvalidErrorSpan">${i18n("flash_MailInvalid")}</span>')
										$('#emailRow').addClass("error");
									}
								});
					});
									
				</script>
				
				<div class="form-actions">
					<input type="button" class="btn" id="createEmailReset"  value='${i18n("createEmail_Button_Reset")}' />
					<input type="button" class="btn btn-primary" id="createEmailSubmit" value='${i18n("createEmail_Button_New")}' />
				</div>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript" src="${contextPath}/assets/js/bootstrap-datetimepicker.min.js"></script> 
<script type="text/javascript" src="${contextPath}/assets/js/bootstrap-datetimepicker.de.js"></script> 
<script type="text/javascript" src="${contextPath}/assets/js/picker-enable.js"></script> 
    
</@layout.xcLayout>
