<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout
title="Home Page">
<#import "../layout/macros.ftl.html" as pag/>
<div class="row">
	<h1 class="legendary">${i18n("mailbox_Title")}</h1> 
	<!--mailboxoverview-->
	<div class="pagination"> 
	<#if (mboxes.getEntryCount() > 0) >
	<form action="${contextPath}/mail/boxSearch">
	<@pag.entrycount/>
	</form>
	</#if>
	<form action="${contextPath}/mail/boxSearch">
		<div class="input-append">
			<input type="text" id="searchBox" name ="s" data-provide="typeahead" autocomplete="off"/>
			<button class="btn" type="submit">Search</button>
			<span class="append"></span>
		</div>
	</form>
	<script>
	
	$(document).ready(
	function(){
		$('#searchBox').typeahead({
		    source: function(q, process){
		        return $.get('${contextPath}/mail/search', {s: q}, function(response) {
		            var data = new Array;
		            for(var i in response) {
		                data.push(response[i]['boxId'] +"#"+ response[i]['address'] +"#"+ response[i]['domain'] +"#"+ response[i]['datetime']);
		            }
		            return process(data);
		        });
		    },
		    highlighter: function(item) {
		        var parts = item.split('#'),
		        html = '<div class="typeahead span4">';
			        html += '<div class="left">';
				        html += '<div>'+parts[1]+'&#064;'+parts[2]+'</div>';
				        html += '<div>'+parts[3]+'</div>';
			        html += '</div>';
		        html += '</div>';
		        return html;
		    },
		    updater: function(item) {
		        var parts = item.split('#');
		        return parts[1]+'@'+parts[2];
		    },
		});
	});//doc ready
    </script>
    <div id="results">
    
    
    </div>
    
    
	<div class="tab-content">  
	<#if (mboxes.getEntryCount() > 0) >
	<#list 1..mboxes.getPageCount() as x > 
	<#if x = 1 >
		<div class="tab-pane active" id="${x}">  
	<#else>
		<div class="tab-pane" id="${x}">  
	</#if>

		<table class="table tablesorter table-hover table-condensed">
		<thead>
		    <tr>
		    	<th class="header">${i18n("mailbox_Header_Address")}</th>	
		    	<th class="header">${i18n("mailbox_Header_Duration")}</th>
		    	<th class="header">${i18n("mailbox_Header_Forwards")}</th>
		    	<th class="header">${i18n("mailbox_Header_Suppressions")}</th>
		    	<th class="header">${i18n("mailbox_Header_Valid")}</th>
		    	<th>${i18n("mailbox_Header_Renew")}</th>
			    <th>${i18n("mailbox_Header_Delete")}</th>  	
			    <th>${i18n("mailbox_Header_Reset")}</th> 
			    <th>${i18n("mailbox_Header_Edit")}</th>
		    </tr>
		    </thead>
		    <tbody>
		<#list mboxes.getPage(x) as mBox>
		    <#if (mBox.isExpired())>
				<tr class="error" id="${mBox.id}">   
		    <#else>
		    	<tr class="success" id="${mBox.id}">
		    </#if>   
				<td>${mBox.address}&#064;${mBox.domain}</td>
				<#if (mBox.getTSAsString()=="unlimited")>
				<td>${i18n("mailbox_Label_Unlimited")}</td>
				<#else>
				<td>${mBox.getTSAsString()}</td>
				</#if>							
				<td>${mBox.forwards}</td>
				<td>${mBox.suppressions}</td>
					<#if (mBox.isActive())>
    				<td>${i18n("msg_Yes")}</td>
	    			 <td><form class="nomarg" action="${contextPath}/mail/expire/${mBox.id}" method="post">
	                    <input type="submit" class= "btn  btn-small" value="${i18n("mailbox_Button_Deactivate")}"/>
	                    </form>
	                </td>
		    	<#else>
	    			<td>${i18n("msg_No")}</td>
	    	    	<td>
		    	    	<form class="nomarg" action="${contextPath}/mail/expire/${mBox.id}" method="post">
		                    <input type="submit" class="btn btn-small" value="${i18n("mailbox_Button_Activate")}"/>
		                </form>
	                </td>
		    	</#if>
    			<td>
    			<form class="nomarg" action="${contextPath}/mail/delete/${mBox.id}" method="post"> 
                    <input type="submit" class="btn btn-small" value="${i18n("mailbox_Button_Delete")}"/>
                </form>
                </td>
                
                <td>
    			<form class="nomarg" action="${contextPath}/mail/reset/${mBox.id}" method="post"> 
                    <input type="submit" class="btn btn-small" value="${i18n("mailbox_Button_Reset")}"/>
                </form>
                </td>
                
		        <td> 
		        <form class="nomarg" action="${contextPath}/mail/edit/${mBox.id}" method="get">
		             <input type="submit" class="btn btn-small" value="${i18n("mailbox_Button_Edit")}"/>
		         </form>
		        </td>
			</tr>
		</#list>
		</tbody>
    </table>
    </div> <!-- /tab pane (active) -->
  </#list>
  <#else>
  	${i18n("msg_NoEntries")}
 </#if>
  
</div><!-- /tab content -->
<@pag.pager name=mboxes/>
</div><!-- /pagination -->
</div><!-- /row -->
<@pag.incSorter vals=[5,6,7,8]/>
</@layout.xcLayout>

