<html>
	<body>
		<div class="modal-header" id="deleteBoxModal" class="modal" tabindex="-1" role="dialog">
			<div>
				<h3  class="legendary">${i18n("deleteEmailDialog_Title")}</h3>
			</div>
			<div class="modal-body"> 
					<div ng-if="isBulkAction">
					${i18n("deleteEmailDialog_Text_MultipleMail")} <br/> 
							<ul>
								<li ng-repeat="box in currentBox">{{box.address}}@{{box.domain}} </li>
							</ul>  
					</div>
					<div ng-if="!isBulkAction">${i18n("deleteEmailDialog_Text_SingleMail")} {{currentBox.address}}@{{currentBox.domain}} </div>
					<div> ${i18n("deleteEmailDialog_Text_AreUSure")}</div>
			</div>
			<div class="modal-footer">
		       <button ng-click="close(currentBox)" class="btn btn-danger">${i18n("deleteEmailDialog_Button_Submit")}</button>
		       <button ng-click="dismiss()" class="btn ">${i18n("deleteEmailDialog_Button_Cancel")}</button>
		   	</div>
		</div>	
	</body>
</html>