
<div class="modal-header" id="addBoxModal" class="modal" tabindex="-1" role="dialog">
	<div>
		<h3 class="modal-title">${i18n("editEmailDialog_Title")}</h3>
	</div>
</div>
<div class="modal-body">

	<div class="form-group" id="emailRow">
		<label class="control-label" for="editBoxDialogAddress2"> ${i18n("editEmailDialog_Label_Address")}* </label>
		<div class="input-group" id="mailInputDiv">
			<input class="input_full form-control" type="text" id="editBoxDialogAddress" name="address" ng-model="currentBox.address" required="required" />
			<span class="input-group-addon">@</span> <select name="domain" class="form-control col-sm-4" ng-model="currentBox.domain">
				<option ng-repeat="singleDomain in domains" ng-selected="(singleDomain == currentBox.domain)">{{singleDomain}}</option>
			</select>
		</div>
	</div>

	<!-- row: life-time of the address -->
	<div class="form-group">
		<label class="control-label" for="datetime{{currentBox.id}}">${i18n("editEmailDialog_Label_Duration")}* </label>
		<div class="controls" ng-init="unlimitedBoxChecked = (currentBox.datetime=='unlimited')" ng-hide="unlimitedBoxChecked">
			<div id="datetimepicker{{currentBox.id}}" class="input-group pickrBoxEdit" ng-init="setBoxDate( currentBox.ts_Active, ${lang})">
				<input class="form-control" data-format="yyyy-MM-dd HH:mm" data-date-format="YYYY-MM-DD HH:mm" id="datetime{{currentBox.id}}" name="datetime" type="text" ng-model="currentBox.datetime"
					required="required" />
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			</div>
		</div>
		<div class="checkbox">
			<label class="checkbox" for="chkUnlimited{{currentBox.id}}"> 
			<input type="checkbox" id="chkUnlimited{{currentBox.id}}" ng-checked="unlimitedBoxChecked"
					ng-model="unlimitedBoxChecked" /> ${i18n("editEmailDialog_Unlimited")}
			</label> <span ng-if="unlimitedBoxChecked" ng-init="currentBox.datetime='${timeStamp}'"></span>
		</div>
	</div>
</div>
<div class="modal-footer">
	<input type="button" class="btn btn-warning" id="btnReset" ng-click="reset()" value='${i18n("editEmailDialog_Button_Reset")}' />
	<button ng-click="dismiss(currentBox.id)" class="btn btn-default">${i18n("editEmailDialog_Button_Cancel")}</button>
	<button ng-click="close(currentBox)" class="btn btn-danger">${i18n("editEmailDialog_Button_Edit")}</button>
</div>

<script type="text/javascript">
	$(function() 
		{
// 		var sDate =  new Date();
// 		var now = new Date();
// 		$('.pickrBoxEdit').datetimepicker(
// 			{
// 				language : '${lang}',
// 				pick12HourFormat : false,
// 				minDate : now,
// 				defaultDate: sDate
// 			}
// 		);
		}
	);
</script>
