<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout title=i18n("editEmail_Title")>
<div class="row">
	<div class="span7">
		<form action="${contextPath}/mail/edit/${mbFrmDat.boxId}" class="form-horizontal" method="post">
			<fieldset>
				<legend>${i18n("editEmail_Title")}</legend>
				<!-- row: Email address -->
				<div class="control-group" id="emailRow">
					<label class="control-label" for="address">
						${i18n("editEmail_Label_Address")}* </label>
					<div class="controls"  id="emailRowControl">
						<div class="input-append" id="mailInputDiv">
							<input class="input_full" type="text" id="address" name="address"
								value="${ (mbFrmDat.address)!}" required="required" />
							 <span class="add-on">@</span>
								<select name="domain"> 
								<#list domain as singleDomain> 
									<#if (mbFrmDat.domain)??> 
										<#if (mbFrmDat.domain == singleDomain)>
											<option value="${singleDomain}" selected="selected">${singleDomain}</option>
										<#else>
											<option value="${singleDomain}">${singleDomain}</option> 
										</#if> 
									<#else>
										<option value="${singleDomain}">${singleDomain}</option> 
									</#if> 
								</#list>
								</select>								 
							</div>
					</div>
				</div>
				<!-- row: life-time of the address -->
				<div class="control-group">
					<label class="control-label" for="datetime">${i18n("editEmail_Label_Duration")}*</label>
					<div class="controls">
						<div id="datetimepicker" class="input-append">
							<input data-format="dd.MM.yyyy hh:mm" id="datetime" name="datetime" type="text" value="${(mbFrmDat.datetime)!}" required="required" /> <span id="pickr_span" class="add-on">
								<i id="pickr_i" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
							</span>
						</div>
					</div>
					<div class="controls">
							<label class="checkbox"> 
								<input type="checkbox"	id="chkUnlimited" onClick="toggle(this)"/> ${i18n("editEmail_Unlimited")}
							</label>
						</div>
					</div>	
					<div class="form-actions">
						<input type="button" class="btn" id="btnReset" value='${i18n("editEmail_Button_Reset")}'/>
						<input type="submit" class="btn btn-primary" value='${i18n("editEmail_Button_Edit")}' />
						
					</div>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript">
				$(function() {
					$('#datetimepicker').datetimepicker({
						language : '${lang}',
						pick12HourFormat : false,
						startDate : new Date()
					});
				});

				$(document).ready(function() {
					//handle the reset-button 
					$('input#btnReset.btn').click(function reset() {
						var chkBxUnlimited = $('input#chkUnlimited');
						
						if(chkBxUnlimited.is(':checked')){
							var dateval = $('input#chkUnlimited').attr("value");
							//add the attribute to datetime input field 
							$('input#datetime').attr("value", dateval);
							//remove it from the checkbox 
							$('input#chkUnlimited').removeAttr("value");
						}
						$('input#chkUnlimited').removeAttr('checked');
						$('input#datetime').removeAttr('style');
						$('span#pickr_span').removeAttr('style');
						$('i#pickr_i').removeAttr('style');
						$('#mailInvalidErrorSpan').remove();
						$('#emailRow').removeClass('error');
						$('#editBoxForm')[0].reset();
					});
					
					//handle the submit-button 
					$('#createEmailSubmit')
					.click(
							function() {
								var mailRegExp = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*$/m
								var localPart = $('#address').val();
								var match = mailRegExp.test(localPart);
								
								if (match) {
									$('#editBoxForm').submit();
									
									return false;
								} else {
									$('#mailInvalidErrorSpan').remove();
									$('#emailRow').removeClass('error');
									$('#emailRowControl')
									.append('<span class="help-inline" id="mailInvalidErrorSpan">${i18n("flash_MailInvalid")}</span>')
									$('#emailRow').addClass("error");
								}
							});
					//handle unlimited box 
					if($('input#datetime').attr('value')=="0"){
						var date = new Date();
						var hours = date.getHours()+1;
						date.setHours(hours);
						var dateString = date.getDate() + "." + date.getMonth() + "." + date.getFullYear() + " "
											+ date.getHours() + ":" + date.getMinutes();
						
						$('input#chkUnlimited').attr('checked', 'checked');
						$('input#chkUnlimited').attr('value', dateString);					
						$('div#datetimepicker').attr('style', 'display:none');
						$('input#datetime').attr('style', 'display:none');
						$('span#pickr_span').attr('style', 'display:none');
						$('i#pickr_i').attr('style', 'display:none');
					}
					
				});
</script>
<script type="text/javascript" src="${contextPath}/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="${contextPath}/assets/js/bootstrap-datetimepicker.de.js"></script>
<script type="text/javascript" src="${contextPath}/assets/js/picker-enable.js"></script>  
</@layout.xcLayout>

