<html>
	<body>
		<div class="modal-header" id="addBoxModal" class="modal" tabindex="-1" role="dialog">
			<div>
				<h3 class="legendary">${i18n("editEmailDialog_Title")}</h3>
			</div>
			<div class="control-group" id="emailRow">
				<label class="control-label" for="editBoxDialogAddress">
					${i18n("editEmailDialog_Label_Address")}* </label>
				<div class="controls"  id="emailRowControl">
					<div class="input-append" id="mailInputDiv">
						<input class="input_full" type="text" id="editBoxDialogAddress" name="address" ng-model="currentBox.address" required="required" />
						 <span class="add-on">@</span>	
						 <select name="domain" ng-model="currentBox.domain"> 
							<option ng-repeat="singleDomain in domains" ng-selected="(singleDomain == currentBox.domain)">{{singleDomain}}</option>
						</select>									 
						</div>
				</div>
			</div>
			<!-- row: life-time of the address -->
			<div class="control-group">
				<label class="control-label" for="datetime{{currentBox.id}}">${i18n("editEmailDialog_Label_Duration")}* </label>
				<div class="controls" ng-init="unlimitedBoxChecked = (currentBox.datetime=='unlimited')" ng-hide="unlimitedBoxChecked">
					<div id="datetimepicker{{currentBox.id}}" class="input-append pickrBoxEdit">
						<span ng-if="unlimitedBoxChecked" ng-init="currentBox.datetime='${timeStamp}'"></span>
						<input data-format="yyyy-MM-dd hh:mm" id="datetime{{currentBox.id}}" name="datetime" type="text" ng-model="currentBox.datetime" required="required" /> <span id="pickr_span{{currentBox.id}}" class="add-on">
							<i id="pickr_i{{currentBox.id}}" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
						</span>
					</div>
				</div>
				<div class="controls">
					<label class="checkbox" for="chkUnlimited{{currentBox.id}}"> 
						<input type="checkbox"	id="chkUnlimited{{currentBox.id}}" ng-checked="unlimitedBoxChecked" ng-model="unlimitedBoxChecked" onClick="toggleBatch(this, {{currentBox.id}})"/> ${i18n("editEmailDialog_Unlimited")}
					
					</label>
				</div>
			</div>	
			<div class="modal-footer">
				<input type="button" class="btn" id="btnReset" value='${i18n("editEmailDialog_Button_Reset")}'/>
		       <button ng-click="close(currentBox)" class="btn btn-primary" >${i18n("editEmailDialog_Button_Edit")}</button>
		       	<button ng-click="dismiss()" class="btn btn-primary">${i18n("editEmailDialog_Button_Cancel")} </button>
		   	</div>
		</div>
		<script type="text/javascript">
			$(function() 
				{
					$('.pickrBoxEdit').datetimepicker(
						{
							language : '${lang}',
							pick12HourFormat : false,
							startDate : new Date()
						}
					);
				});
		</script>		
	</body>
</html>