<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout
title="Home Page">
<div class="row">
	<div class="span7">
		<form action="/mail/add" method="post" class="form-horizontal">
			<fieldset>
				<legend>${i18nMailbox_Create}</legend>

				<div class="control-group">
					<label class="control-label" for="address">	${i18nMailbox_Address} </label>
					<div class="controls">
						<input class="input_full" type="text" id="address" name="address" value="${ (mbFrmDat.address)!}" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="domain"> ${i18nMailbox_Domain} </label>
					<div class="controls">
						<select name="domain"> 
						<#list domain as String> 
							<#if (mbFrmDat.domain)??> 
								<#if (mbFrmDat.domain == String)>
									<option value="${String}" selected="selected">${String}</option>
								<#else>
									<option value="${String}">${String}</option> 
								</#if> 
							<#else>
								<option value="${String}">${String}</option> 
							</#if> 
						</#list>
						</select>
					</div>
				</div>				
				<div class="control-group">
					<label class="control-label" for="duration">${i18nMailbox_Duration}</label>
					<div class="controls">
				  <div id="datetimepicker2" class="input-append">
				    <input data-format="dd.MM.yyyy hh:mm" id="datetime" name="datetime" type="text" value="${ (mbFrmDat.datetime)!}"/>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
				    </div>
				  </div>
				</div>
				<script type="text/javascript">
				  $(function() {
				    $('#datetimepicker2').datetimepicker({
				      language: '${lang}',
				      pick12HourFormat: false
				    });
				  });
				</script>
				
				<div class="form-actions">
					<input type="submit" class="btn" value="${i18nMailbox_New}" /> 
					<input type="reset" class="btn" value="${i18nMsg_Reset}"/>
				</div>
			</fieldset>
		</form>
	</div>
</div>

    <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.de.js"></script> 
    
</@layout.xcLayout>
