<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout
title=i18n("mailbox_Title")>
<#import "../layout/macros.ftl.html" as pag/>


<div class="row">
	<h1 class="legendary">${i18n("mailbox_Title")}</h1> 
	<!--mailboxoverview-->
	
	<#if (mboxes.getEntryCount() > 0) >
		<form action="${contextPath}/mail">
		<@pag.entrycount/>
		</form>
	</#if>
	
	<form action="${contextPath}/mail" id="boxSearchForm">
		<div class="input-append">
			<input type="text" id="boxSearchInput" name ="s" data-provide="typeahead" autocomplete="off"/>
			<button class="btn" id="boxSearchButton" type="submit"><i class="icon-search"></i> ${mailbox_Button_Search}</button>
			<span class="append"></span>
		</div>
	</form>	

	<div class="tab-content">  
	<#if ((mboxes.getEntryCount())??!0 > 0) >
	<#list 1..mboxes.getPageCount() as x > 
	<#if x = 1 >
		<div class="tab-pane active" id="${x}">  
	<#else>
		<div class="tab-pane" id="${x}">  
	</#if>
	<table class="table tablesorter table-hover table-condensed">
		<thead>
		    <tr>
		    	<th></th>
		    	<th class="header">${i18n("mailbox_Header_Address")}</th>	
		    	<th class="header">${i18n("mailbox_Header_Duration")}</th>
		    	<th class="header">${i18n("mailbox_Header_Forwards")}</th>
		    	<th class="header">${i18n("mailbox_Header_Suppressions")}</th>
		    	<th class="header">${i18n("mailbox_Header_Valid")}</th>
		    	<th>${i18n("mailbox_Header_Renew")}</th>
			    <th>${i18n("mailbox_Header_Delete")}</th>  	
			    <th>${i18n("mailbox_Header_Reset")}</th> 
			    <th>${i18n("mailbox_Header_Edit")}</th>
		    </tr>
		    </thead>
		    <tbody>
		<#list mboxes.getPage(x) as mBox>
		    <#if (mBox.isExpired())>
				<tr class="error" id="${mBox.id}">   
		    <#else>
		    	<tr class="success" id="${mBox.id}">
		    </#if>   
		    	<td><input type="checkbox" class="bulkChk${x}" id="chkbx_${x}_${mBox.id}"></td>
		    	
				<td>${mBox.address}&#064;${mBox.domain}</td>
				<#if (mBox.getTSAsString()=="unlimited")>
				<td>${i18n("mailbox_Label_Unlimited")}</td>
				<#else>
				<td>${mBox.getTSAsString()}</td>
				</#if>							
				<td>${mBox.forwards}</td>
				<td>${mBox.suppressions}</td>
				<#if (mBox.isActive())>
    				<td>${i18n("mailbox_Label_MailActive")}</td>
	    			 <td><form class="nomarg" action="${contextPath}/mail/expire/${mBox.id}" method="post">
	                    <input type="submit" class="btn  btn-small"  id="btnDeactivate${mBox.id}" value='${i18n("mailbox_Button_Deactivate")}'/>
	                    </form>
	                </td>
		    	<#else>
		    		<#if (mBox.isExpiredByTimestamp())>
	    			<td>${i18n("mailbox_Label_MailExpired")}</td>
	    			<#else>
	    			<td>${i18n("mailbox_Label_MailInactive")}</td>
	    			</#if>
	    	    	<td>
		    	    	<form class="nomarg" action="${contextPath}/mail/expire/${mBox.id}" method="post">
		                    <input type="submit" class="btn btn-small" id="btnActivate${mBox.id}" value='${i18n("mailbox_Button_Activate")}'/>
		                </form>
	                </td>
		    	</#if>
    			<td>
    			<form class="nomarg" action="${contextPath}/mail/delete/${mBox.id}" method="post"> 
                    <input type="submit" class="btn btn-small" id="btnDelete${mBox.id}" value='${i18n("mailbox_Button_Delete")}'/>
                </form>
                </td>
                
                <td>
    			<form class="nomarg" action="${contextPath}/mail/reset/${mBox.id}" method="post"> 
                    <input type="submit" class="btn btn-small" id="btnReset${mBox.id}" value='${i18n("mailbox_Button_Reset")}'/>
                </form>
                </td>
                
		        <td> 
		        <form class="nomarg" action="${contextPath}/mail/edit/${mBox.id}" method="get">
		             <input type="submit" class="btn btn-small" id="btnEdit${mBox.id}" value='${i18n("mailbox_Button_Edit")}'/>
		         </form>
		        </td>
			</tr>
		</#list>
		</tbody>

		<tfoot>
		<tr>
		<td colspan="2">
    	<div class="controls">
			<label class="checkbox"> 
			<input type="checkbox" class="bulkChk" id="chkbx_ALL${x}" onclick="toggleAll(this,${x})"> ${i18n("mailbox_Label_CheckAll")}
			</label>
		</div>
		</td>

		<td colspan="2"><!-- bulk change duration -->
		<form class="nomarg" action="${contextPath}/mail/bulkChange" id="formBulkChangeDuration${x}" method="get">
					<span id="datetimepicker${x}" class="input-append">
				    	<input data-format="dd.MM.yyyy hh:mm" class="span8" id="datetime${x}" name="duration" type="text" value="${(datetime)!}" required="required"/>
					    <span id="pickr_span${x}" class="add-on">
					      <i id="pickr_i${x}" data-time-icon="icon-time" data-date-icon="icon-calendar" class="group1"></i>
					    </span>
				    </span>
				    <label class="checkbox"> 
						<input type="checkbox" id="chkUnlimited${x}" onClick="toggleBatch(this,${x})" /> ${i18n("createEmail_Unlimited")}
					</label>
					<input type="hidden" id="inputBulkChangeDuration${x}" name="ids"/>		
					<input type="hidden" id="inputBulkChangeDurationAction" name="action" value="change"/>
			<script type="text/javascript">
				$(function() {
					$('#datetimepicker${x}').datetimepicker({
						language : '${lang}',
						pick12HourFormat : false,
						startDate : new Date()
					});
				});
			</script>
		</form>
		
		</td>
		<td>
		<button class="btn btn-small" id="btnBulkChangeDuration${x}" onClick="bulkChange(this, ${x}, 'ChangeDuration')" >${i18n("mailbox_Button_BulkChange")}</button>
		</td><!-- end bulk change duration -->
		
		<td>${i18n("mailbox_Label_Change")}</td>
		
		<td><!-- bulk enable/disable -->
		<form class="nomarg" action="${contextPath}/mail/bulkChange" id="formBulkEnable${x}" method="get">
				<input type="hidden" id="inputBulkEnable${x}" name="ids"/>
				<button class="btn btn-small" id="btnBulkEnable${x}" name="action" value="enable" onClick="bulkChange(this, ${x}, 'Enable')" >${i18n("mailbox_Button_BulkActivate")}</button>
		</form>
		</td><!-- end bulk enable/disable -->
		
		<td><!-- bulk delete -->
		<form class="nomarg" action="${contextPath}/mail/bulkChange" id="formBulkDelete${x}" method="get">
				<input type="hidden" id="inputBulkDelete${x}" name="ids"/>
				<button class="btn btn-small" id="btnBulkDelete${x}" name="action" value="delete" onClick="bulkChange(this, ${x}, 'Delete')" >${i18n("mailbox_Button_BulkDelete")}</button>
		</form>
		</td><!-- end bulk delete -->
		
		<td><!-- bulk reset -->
		<form class="nomarg" action="${contextPath}/mail/bulkChange" id="formBulkEdit${x}" method="get">
				<input type="hidden" id="inputBulkReset${x}" name="ids"/>
				<button class="btn btn-small" id="btnBulkReset${x}" name="action" value="reset" onClick="bulkChange(this, ${x}, 'Reset')" >${i18n("mailbox_Button_BulkReset")}</button>
		</form><!-- end bulk reset -->

		</td>
		<td></td>
		</tr>
		</tfoot>

    </table>
    </div> <!-- /tab pane (active) -->
  </#list>
  <#else>
  	${i18n("msg_NoEntries")}
 </#if>
  
</div><!-- /tab content -->
<@pag.pager name=mboxes/>

</div><!-- /row -->

<script type="text/javascript">

		function bulkChange(button, page, action){
			var checkBoxesThisPage = $('.bulkChk'+page);
			var checkedBoxes=[];
			var regEx = new RegExp('chkbx_'+page+'_', 'gi');
			$(checkBoxesThisPage).each(function(){
				if($(this).is(':checked')){
					checkedBoxes.push($(this).attr('id').replace(regEx, ''));
				}
				
			});//checkboxes each 
			$('#inputBulk'+action+page).attr('value', checkedBoxes);			
			$('#formBulk'+action+page)[0].submit();
		}
		
	$(document).ready(
	function(){
		$('#boxSearchInput').typeahead({
		    source: function(query, process){
		        		return $.get('${contextPath}/mail/search', {s: query}, 
		        				function(response) {
						            var data = new Array;
						            for(var i in response) {
						                data.push(response[i]['boxId'] +"#"+ response[i]['address'] +"#"+ response[i]['domain'] +"#"+ response[i]['datetime']);
						            }
						            return process(data);
		        				});
		    	},
		    matcher: function(item){
		        var parts = item.split('#');
		        var fullAddress = parts[1]+'@'+parts[2];
		        if(fullAddress.indexOf(this.query.trim().toLowerCase())!=-1){
		        	return true;
		        }
		    },		    	
		    highlighter: function(item) {
		        var parts = item.split('#');
		        var regex = new RegExp( '(' + this.query + ')', 'gi' );
				var fullAddress = parts[1]+'@'+parts[2];
				fullAddress = fullAddress.replace(regex, "<strong>$1</strong>");
				fullAddress = fullAddress.replace('@', "&#064;");

			        html = fullAddress+'<br/>';
				    html += parts[3];

			return html;
		    },
		    updater: function(item) {
		        var parts = item.split('#');
		        return parts[1]+'@'+parts[2];
		    },
		});
	});//doc ready 

	function toggleAll(chkbox, page) {

		if (chkbox.checked) {
			$('.bulkChk'+page).prop("checked", true);

		} else {
			$('.bulkChk'+page).prop("checked", false);
		}
	}
	
	

    </script> 
<script type="text/javascript" src="${contextPath}/assets/js/bootstrap-datetimepicker.min.js"></script> 
<script type="text/javascript" src="${contextPath}/assets/js/bootstrap-datetimepicker.de.js"></script> 
<script type="text/javascript" src="${contextPath}/assets/js/picker-enable.js"></script> 
<@pag.incSorter vals=[0,6,7,8,9]/>
<p>
	<a href="${contextPath}/mail/mymaillist.txt">${i18n("mailbox_Label_MailTxtList")}</a><br/>
	<a href="${contextPath}/mail/myactivemaillist.txt">${i18n("mailbox_Label_ActiveMailTxtList")}</a>
</p>
</@layout.xcLayout>

