<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout
title="Home Page">
<div class="row">
	<div class="span7">
		<form action="/mail/edit/${mbFrmDat.boxId}" class="form-horizontal"
			method="post">
			<fieldset>
				<legend>${i18n("editEmail_Title")}</legend>
				<div class="control-group">
					<label class="control-label" for="address">
						${i18n("editEmail_Local_Label")} </label>
					<div class="controls">
						<input class="input_full" type="text" id="address" name="address"
							value="${ (mbFrmDat.address)!}" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="domain">
						${i18n("editEmail_Domain_Label")} </label>
					<div class="controls">
						<select name="domain"> 
						<#list domain as String> 
							<#if (mbFrmDat.domain)??> 
								<#if (mbFrmDat.domain==String)>
									<option value="${String}" selected="selected">${String}</option>
								<#else>
									<option value="${String}">${String}</option> 
								</#if> 
							<#else>
								<option value="${String}">${String}</option> 
							</#if> 
						</#list>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="datetime">${i18n("editEmail_Duration_Label")}</label>
					<div class="controls">
				  <div id="datetimepicker" class="input-append">
				    <input data-format="dd.MM.yyyy hh:mm" id="datetime" name="datetime" type="text" value="${(mbFrmDat.datetime)!}" required="required"/>
				    <span id="pickr_span" class="add-on">
				      <i id="pickr_i" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				    </span>
				    </div>
				    <div>
						<input type="checkbox" id="group1"/> ${i18n("editEmail_Unlimited")}
					</div>
				  </div>
				</div>
				<script type="text/javascript">
				  $(function() {

				    $('#datetimepicker').datetimepicker({
				      language: '${lang}',
				      pick12HourFormat: false,
				      startDate: new Date()
				    });
				    
					  enable_cb();
					  $("#group1").click(enable_cb);
					  if("${mbFrmDat.datetime}"=="0"){
						  $("#group1").click();
					  }
				  });
				</script>
				<div class="form-actions">
					<input type="reset" class="btn" value="${i18n("editEmail_Reset_Button")}"/>
					<input type="submit" class="btn btn-primary" value="${i18n("editEmail_Edit_Button")}" />
				</div>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.de.js"></script>
<script type="text/javascript" src="/assets/js/picker-enable.js"></script>  
</@layout.xcLayout>

