<!DOCTYPE html>
<html ng-app="BoxHandler">
  <head>
    <meta charset="utf-8">
    <title>XCMailr - ${i18n("mailbox_Title")}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="${contextPath}/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="${contextPath}/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="${contextPath}/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="${contextPath}/assets/css/ownStyle.css" rel="stylesheet">
    <script src="${contextPath}/assets/js/jquery.js"></script>
    <script src="${contextPath}/assets/js/bootstrap.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="${contextPath}/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="${contextPath}/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="${contextPath}/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="${contextPath}/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="${contextPath}/assets/ico/apple-touch-icon-57-precomposed.png">
    <script type="text/javascript" src="${contextPath}/assets/js/angular.min.js"> </script>
    <script type="text/javascript" src="${contextPath}/assets/js/ui-bootstrap-0.4.0.js"> </script>
    <script type="text/javascript" src="${contextPath}/assets/js/ui-bootstrap-tpls-0.4.0.js"> </script>
    <script type="text/javascript" src="${contextPath}/assets/js/controllers.js"> </script>
  </head>
  <body>
  
  <#include "../layout/header.ftl.html"/>
<div class="container">
        <div class="container-fluid">
	    	<div class="row-fluid">

				<#if flash_error??>
				        <p class="alert alert-error"><strong> ${flash_error}</strong></p>
				</#if>
				<#if flash_success??>
				        <p class="alert alert-success"><strong> ${flash_success}</strong></p>
				</#if>
				<#if flash_info??>
				        <p class="alert alert-info"><strong> ${flash_info}</strong></p>
				</#if>
			</div>
<div class="row-fluid">
<!-- start page -->
<#import "../layout/macros.ftl.html" as pag/>
<div class="row" ng-controller="BoxListCtrl" id="overViewCtrl">
	<h1 class="legendary">${i18n("mailbox_Title")}</h1> 
	<!--mailboxoverview-->
	<table class="table table-hover table-condensed">
		<thead>
		    <tr>
		    	<th></th>
		    	<th class="header"><a ng-click="predicate= 'address'; reverse=!reverse">${i18n("mailbox_Header_Address")}</a></th>	
		    	<th class="header"><a ng-click="predicate= 'dateTime'; reverse=!reverse">${i18n("mailbox_Header_Duration")}</a></th>
		    	<th class="header"><a ng-click="predicate= 'forwards'; reverse=!reverse">${i18n("mailbox_Header_Forwards")}</a></th>
		    	<th class="header"><a ng-click="predicate= 'suppressions'; reverse=!reverse">${i18n("mailbox_Header_Suppressions")}</a></th>
		    	<th class="header"><a ng-click="predicate= '!expired'; reverse=!reverse">${i18n("mailbox_Header_Valid")}</a></th>
		    	<th>${i18n("mailbox_Header_Renew")}</th>
		    </tr>
		    </thead>
		    <tbody ng-repeat= "mBox in filteredBoxes | orderBy:predicate:reverse">
				<tr ng-class="{ true:'error', false:'success'}[mBox.expired]" id="{{mBox.id}}" ng-mouseover="overM = true; overId=$index" ng-mouseleave="overM=false">   
			    	<td><input type="checkbox" class="bulkChk" id="chk_{{mBox.id}}" ng-model="selected[mBox.id]"></td>
					<td class="mbAddress">
					<div class="row-fluid">{{mBox.address}}&#064;{{mBox.domain}}</div>
					<div class="row-fluid">
						<span ng-show="overM && ($index == overId)"> 
		                    <a class="btn btn-mini btn-link"  id="btnDeactivate{{mBox.boxId}}" ng-click="expireBox({{mBox.id}}, '${contextPath}')" value='${i18n("mailbox_Button_Deactivate")}'>  <i class="icon-play"></i></a> 
		    			<a class="btn btn-mini btn-link" ng-click="deleteBox({{mBox.id}}, $index, '${contextPath}')">
		    				<i class="icon-trash"></i> ${i18n("mailbox_Button_Delete")}
		    			</a>

		                <a class="btn btn-mini btn-link" ng-click="resetBox({{mBox.id}}, $index, '${contextPath}')" >
		    				<i class="icon-repeat"></i> ${i18n("mailbox_Button_Reset")}
		    			</a>
			        	<a ng-click="openDialog($index)"  class="btn btn-mini btn-link"> <!-- href="${contextPath}/mail/edit/{{mBox.id}}" -->
			        		<i class="icon-edit"></i> ${i18n("mailbox_Button_Edit")}
			        	</a>
			        	</span>
					</div>
					</td>
					<td>{{mBox.dateTime}}</td>						
					<td>{{mBox.forwards}}</td>
					<td>{{mBox.suppressions}}</td>
					<td ng-if="!mBox.expired"> ${i18n("mailbox_Label_MailActive")} </td>
	   				<td ng-if="mBox.expired"> ${i18n("mailbox_Label_MailExpired")} </td>
					<td>
					</td>

				</tr>
		</tbody>
    </table>
<a href="javascript:;" data-ng-click="ShowSelected()">Show Selected</a>
<!-- end page -->
	<div class="pagination">
    <div class="row-fluid">
  	<div class="pull-left">
    <pagination num-pages="noOfPages" current-page="currentPage" max-size="maxSize"></pagination>
    The selected page no: {{currentPage}}, PNoTotal: {{noOfPages}}, MaxSize: {{maxSize}} , BLength: {{allBoxes.length}}
    </div>

		<ul class ="pull-right">
			<li class="disabled"><a>${i18n("macro_EntriesPerPage")}</a></li>
			<li><a class="btn btn-link btn-small" ng-click="setMaxSize(5)" >5</a></li>
			<li><a class="btn btn-link btn-small" ng-click="setMaxSize(15)" >15</a></li>
			<li><a class="btn btn-link btn-small" ng-click="setMaxSize(25)" >25</a></li>
			<li><a class="btn btn-link btn-small" ng-click="setMaxSize(50)" >50</a></li>
			<li><a class="btn btn-link btn-small" ng-click="setMaxSize(0)" >all</a></li>
		</ul>
	</div>
	</div> 
</div><!-- /row -->
<div class="row">
	<div class="span7">
		<form action="${contextPath}/mail/addJson" method="post" class="form-horizontal" id="addBoxForm">
			<fieldset>
				<legend>${i18n("createEmail_Title")}</legend>
				<!-- row: email-address -->
				<div class="control-group" id="emailRow">
					<label class="control-label" for="address">	${i18n("createEmail_Label_Address")} </label>
					<div class="controls" id="emailRowControl">
						<div class="input-append" id="mailInputDiv">
							<input class="input_full" type="text" id="address" name="address" value="${ (mbFrmDat.address)!}" required="required" />
							<span class="add-on">@</span>
							<select name="domain"> 
								<#list domain as singleDomain> 
									<#if (mbFrmDat.domain)??> 
										<#if (mbFrmDat.domain == singleDomain)>
											<option value="${singleDomain}" selected="selected">${singleDomain}</option>
										<#else>
											<option value="${singleDomain}">${singleDomain}</option> 
										</#if> 
									<#else>
										<option value="${singleDomain}">${singleDomain}</option> 
									</#if> 
								</#list>
							</select>
						</div>
					</div>
				</div>		
				<!-- row: life-time of the address -->
				<div class="control-group" id="validityRow">
					<label class="control-label" for="datetime">${i18n("createEmail_Label_Duration")}</label>
					<div class="controls">
				  	<div id="datetimepicker" class="input-append">
				    	<input data-format="yyyy-MM-dd hh:mm" id="datetime" name="datetime" type="text" value="${ (mbFrmDat.datetime)!}" required="required"/>
					    <span id="pickr_span" class="add-on">
					      <i id="pickr_i" data-time-icon="icon-time" data-date-icon="icon-calendar" class="group1"></i>
					    </span>
				    </div>
				  </div>
				    <div class="controls">
				    <label class="checkbox"> 
				    	<input type="checkbox" id="chkUnlimited" onClick="toggle(this)" /> ${i18n("createEmail_Unlimited")}
				    </label>
				    </div>
				</div>				
				<div class="form-actions">
					<input type="button" class="btn" id="createEmailReset"  value='${i18n("createEmail_Button_Reset")}' />
					<input type="button" class="btn btn-primary" id="createEmailSubmit" value='${i18n("createEmail_Button_New")}' />
				</div>
			</fieldset>
		</form>
	</div>
</div>

</div><!-- /row-fluid -->
</div> <!-- /container-fluid -->
<#include "../layout/footer.ftl.html"/>
</div> <!-- /container -->


<script type="text/javascript">
	$(function() {
		$('#datetimepicker').datetimepicker({
			language : '${lang}',
			pick12HourFormat : false,
			startDate : new Date()
		});
	});

	$(document).ready(function() {
		//handle the reset-button
		$('#createEmailReset.btn').click(function reset() {
			var chkBxUnlimited = $('#chkUnlimited');

			if(chkBxUnlimited.is(':checked')){
				toggle(chkBxUnlimited);
			}

			$('#mailInvalidErrorSpan').remove();
			$('#emailRow').removeClass('error');
			$('#addBoxForm')[0].reset();
			
		});
		
		//handle the submit-button
		$('#createEmailSubmit')
		.click(
				function() {
					var mailRegExp = /^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*$/m
					var localPart = $('#address').val();
					var match = mailRegExp.test(localPart);
					
					if (match) {
						$('#addBoxForm')[0].submit();
						return false;
					} else {
						$('#mailInvalidErrorSpan').remove();
						$('#emailRow').removeClass('error');
						
						$('#emailRowControl')
						.append('<span class="help-inline" id="mailInvalidErrorSpan">${i18n("createEmail_JSValidation_MailInvalid")}</span>')
						$('#emailRow').addClass("error");
					}
				});
	});			
</script>
<script type="text/javascript" src="${contextPath}/assets/js/bootstrap-datetimepicker.min.js"></script> 
<script type="text/javascript" src="${contextPath}/assets/js/bootstrap-datetimepicker.de.js"></script> 
<script type="text/javascript" src="${contextPath}/assets/js/picker-enable.js"></script> 
</body>
</html>

