<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout
title="Home Page">
<div class="row">
	<div class="span7">
		<form action="/mail/edit/${mbFrmDat.boxId}" class="form-horizontal"
			method="post">
			<fieldset>
				<legend>${i18nEditEmail_Title}</legend>
				<div class="control-group">
					<label class="control-label" for="address">
						${i18nEditEmail_Local_Label} </label>
					<div class="controls">
						<input class="input_full" type="text" id="address" name="address"
							value="${ (mbFrmDat.address)!}" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="domain">
						${i18nEditEmail_Domain_Label} </label>
					<div class="controls">
						<select name="domain"> 
						<#list domain as String> 
							<#if (mbFrmDat.domain)??> 
								<#if (mbFrmDat.domain==String)>
									<option value="${String}" selected="selected">${String}</option>
								<#else>
									<option value="${String}">${String}</option> 
								</#if> 
							<#else>
								<option value="${String}">${String}</option> 
							</#if> 
						</#list>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="datetime">${i18nEditEmail_Duration_Label}</label>
					<div class="controls">
				  <div id="datetimepicker" class="input-append">
				  <#if (mbFrmDat.datetime=="0")>
				  	<input data-format="dd.MM.yyyy hh:mm" id="datetime" name="datetime" type="hidden" value="${(mbFrmDat.datetime)!}" required="required"/>
				  	<span id="pickr_span">
				      <i id="pickr_i"></i>
				    </span>
				    </div>
				    <div>
						<input type="checkbox" id="group1" checked="checked">unlimited
					</div>
					<input type="hidden" id="storDate" value="0"/>
				  <#else>
				    <input data-format="dd.MM.yyyy hh:mm" id="datetime" name="datetime" type="text" value="${(mbFrmDat.datetime)!}" required="required"/>
				    <span id="pickr_span" class="add-on">
				      <i id="pickr_i" data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
				    </span>
				    </div>
				    <div>
						<input type="checkbox" id="group1">unlimited
					</div>
				  </#if>

				  </div>
				</div>
				<script type="text/javascript">
				  $(function() {
				    $('#datetimepicker').datetimepicker({
				      language: '${lang}',
				      pick12HourFormat: false,
				    });
					  enable_cb();
					  if($("#group1").attr("checked")){
					  		var dateval = $("input#datetime").attr("value");
					  		var input = document.createElement("input");
					  		input.setAttribute("type", "hidden");
					  		input.setAttribute("id", "storDate");
					  		input.setAttribute("value", dateval);
					  		document.getElementById("datetimepicker").appendChild(input);

					  		$("input#datetime").attr("type", "hidden");
					  		$("span#pickr_span").removeAttr("class");
					  		$("i#pickr_i").removeAttr("data-date-icon");
					  		$("i#pickr_i").removeAttr("data-time-icon");
					  		$("i#pickr_i").removeAttr("class");
					  		$("input#datetime").attr("value", "0");
					  }
					  $("#group1").click(enable_cb);
				  });
				</script>
				<div class="form-actions">
					<input type="submit" class="btn" value="${i18nEditEmail_Edit_Button}" /> <input
						type="reset" class="btn" value="${i18nEditEmail_Reset_Button}"/>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.de.js"></script>
<script type="text/javascript" src="/assets/js/picker-enable.js"></script>  
</@layout.xcLayout>

