<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout
title="Home Page">
<#import "../layout/macros.ftl.html" as pag/>
<div class="row">
	<h1 class="legendary">${i18nMailbox_Title}</h1> 
	<!--mailboxoverview-->
	<div class="pagination"> 
	<#if (mboxes.getEntryCount() > 0) >
	<form action="/mail">
	<@pag.entrycount/>
	</form>
	</#if>
	<div class="tab-content">  
	<#if (mboxes.getEntryCount() > 0) >
	<#list 1..mboxes.getPageCount() as x > 
	<#if x = 1 >
		<div class="tab-pane active" id="${x}">  
	<#else>
		<div class="tab-pane" id="${x}">  
	</#if>
	
		<table class="table tablesorter table-hover table-condensed">
		<thead>
		    <tr>
		    	<th class="header">${i18nMailbox_Address_Header}</th>	
		    	<th class="header">${i18nMailbox_Duration_Header}</th>
		    	<th class="header">${i18nMailbox_Forwards_Header}</th>
		    	<th class="header">${i18nMailbox_Suppressions_Header}</th>
		    	<th class="header">${i18nMailbox_Valid_Header}</th>
		    	<th>${i18nMailbox_Renew_Header}</th>
			    <th>${i18nMailbox_Delete_Header}</th>  	
			    <th>${i18nMailbox_Reset_Header}</th> 
			    <th>${i18nMailbox_Edit_Header}</th>
		    </tr>
		    </thead>
		    <tbody>
		<#list mboxes.getPage(x) as mBox>
		    <#if (mBox.isExpired())>
				<tr class="error" id="${mBox.id}">   
		    <#else>
		    	<tr class="success" id="${mBox.id}">
		    </#if>   
				<td>${mBox.address}&#064;${mBox.domain}</td>
				<#if (mBox.getTSAsString()=="unlimited")>
				<td>${i18nMailbox_Unlimited}</td>
				<#else>
				<td>${mBox.getTSAsString()}</td>
				</#if>							
				<td>${mBox.forwards}</td>
				<td>${mBox.suppressions}</td>
					<#if (mBox.isActive())>
    				<td>${i18nMsg_Yes}</td>
	    			 <td><form class="nomarg" action="/mail/expire/${mBox.id}" method="post">
	                    <input type="submit" class= "btn  btn-small" value="${i18nMailbox_Deactivate_Button}"/>
	                    </form>
	                </td>
		    	<#else>
	    			<td>${i18nMsg_No}</td>
	    	    	<td>
		    	    	<form class="nomarg" action="/mail/expire/${mBox.id}" method="post">
		                    <input type="submit" class="btn btn-small" value="${i18nMailbox_Activate_Button}"/>
		                </form>
	                </td>
		    	</#if>
    			<td>
    			<form class="nomarg" action="/mail/delete/${mBox.id}" method="post"> 
                    <input type="submit" class="btn btn-small" value="${i18nMailbox_Delete_Button}"/>
                </form>
                </td>
                
                <td>
    			<form class="nomarg" action="/mail/reset/${mBox.id}" method="post"> 
                    <input type="submit" class="btn btn-small" value="${i18nMailbox_Reset_Button}"/>
                </form>
                </td>
                
		        <td> 
		        <form class="nomarg" action="/mail/edit/${mBox.id}" method="get">
		             <input type="submit" class="btn btn-small" value="${i18nMailbox_Edit_Button}"/>
		         </form>
		        </td>
			</tr>
		</#list>
		</tbody>
    </table>
    </div> <!-- /tab pane (active) -->
  </#list>
  <#else>
  	${i18nMsg_NoEntries}
 </#if>
</div><!-- /tab content -->
<@pag.pager name=mboxes/>
</div><!-- /pagination -->
</div><!-- /row -->
<@pag.incSorter vals=[5,6,7,8]/>
</@layout.xcLayout>

