<#import "../layout/adminLayout.ftl.html" as layout> <@layout.myLayout
"User Administration">
<div class="pagination">  
<ul >
<#list 1..plist.getPageCount() as x >  
<#if x = 1 >
<li class="active"><a href="#${x}" data-toggle="tab">${x}</a></li>
<#else>
<li ><a href="#${x}" data-toggle="tab">${x}</a></li>
</#if>
</#list>
</ul>  
<div class="tab-content">  

<#list 1..plist.getPageCount() as x > 
<#if x = 1 >
<div class="tab-pane active" id="${x}">  
<#else>
<div class="tab-pane" id="${x}">  
</#if>

<table class="table table-hover">
	<thead>
    <tr>
	    <th>${i18nadmin_mtxts}</th>
	    <th>${i18nadmin_mtxstatus}</th>
	    <th>${i18nadmin_mtxtarget}</th>
	    <th>${i18nadmin_mtxsource}</th>
    </tr>
    </thead>
    <tbody>
<#list plist.getPage(x) as mtx>
		
		<#switch mtx.status>
	    		<#case  100>
	    			<tr class="error">
	    		<#break>
	    		<#case 200>
	    			<tr class="warning">
	    		<#break>
	    		<#case  300>
	    			<tr class="success">
	    		<#break>
	    		<#case  400>
	    			<tr class="error">
	    		<#break>
	    		<#default>
	    			<tr>
		 </#switch>
			
		    
		    <td>${mtx.getTsAsString()}</td>
		    
		    <td>
		    	<#switch mtx.status>
		    		<#case  100>
		    			${i18nadmin_mtxstat100}
		    		<#break>
		    		<#case 200>
		    			${i18nadmin_mtxstat200}
		    		<#break>
		    		<#case  300>
		    			${i18nadmin_mtxstat300}
		    		<#break>
		    		<#case  400>
		    			${i18nadmin_mtxstat400}
		    		<#break>
		    		<#default>
		    			${i18nadmin_mtxunknown}
		    	</#switch>
		    </td>
		    <td>${mtx.sourceaddr}</td>
		    <td>${mtx.targetaddr}</td>
		    </tr>
		</#list>
		</tbody>
    </table>
</div>  
</#list>
</div>  
</@layout.myLayout>	
