
	<div>
		<ul class="nav nav-tabs">
			<li class="active"><a href="#summed" data-toggle="tab">General Statistics</a></li>
  			<li><a href="#transactions" data-toggle="tab">Transactions</a></li>
  		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="summed">
				<div class="span4">
					<p>
					      <#include "summedstats.ftl.html"/>
					</p>
				</div>
			</div>
			<div class="tab-pane" id="transactions">
				<div class="span7">
					<p>
						<#include "paginatedtransactions.ftl.html">
					</p>
				</div>
			</div>
		</div>
		
	</div>

