<#import "../layout/loginLayout.ftl.html" as layout> <@layout.myLayout
"User Administration">

<div class="row">
	<div >
		<p>User Administration</p> 
		<ul class="nav nav-tabs">
			<li><a href="#users" data-toggle="pill">Users</a></li>
  			<li><a href="#statistics" data-toggle="pill">Statistics</a></li>
  		</ul>
		<p>
		<div class="tab-content">
			<div class="tab-pane active" id="users">
				<#include "showUsers.ftl.html"/>
			</div>
			<div class="tab-pane" id="statistics">
				<#include "showStats.ftl.html"/>
			</div>
		</div>
		</p>
		
	</div>
</div>

</@layout.myLayout>
