<div>
	<ul class="nav nav-pills nav-stacked">
		<#if (users)??>
			<li class="active"><a href="/admin/users">${i18n("admin_UserView")}</a></li>
		<#else>
			<li><a href="/admin/users">${i18n("admin_UserView")}</a></li>
		</#if>
		
		<#if (stats)??>
			<li class="active"><a href="/admin/summedtx">${i18n("admin_SumStat")}</a></li>
		<#else>
			<li><a href="/admin/summedtx">${i18n("admin_SumStat")}</a></li>
		</#if>
		
		<#if (plist)??>
			<li class="active"><a href="/admin/mtxs">${i18n("admin_Trans")}</a></li>
		<#else>
			<li><a href="/admin/mtxs">${i18n("admin_Trans")}</a></li>
		</#if>
	</ul>
</div>


