<div>
	<ul class="nav nav-pills nav-stacked">
		<#if (users)??>
			<li class="active"><a href="${contextPath}/admin/users">${i18n("admin_Link_UserView")}</a></li>
		<#else>
			<li><a href="${contextPath}/admin/users">${i18n("admin_Link_UserView")}</a></li>
		</#if>
		
		<#if (stats)??>
			<li class="active"><a href="${contextPath}/admin/summedtx">${i18n("admin_Link_SumedStatistics")}</a></li>
		<#else>
			<li><a href="${contextPath}/admin/summedtx">${i18n("admin_Link_SummedStatistics")}</a></li>
		</#if>
		
		<#if (plist)??>
			<li class="active"><a href="${contextPath}/admin/mtxs">${i18n("admin_Link_Transactions")}</a></li>
		<#else>
			<li><a href="${contextPath}/admin/mtxs">${i18n("admin_Link_Transactions")}</a></li>
		</#if>
	</ul>
</div>


