    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="${contextPath}/">${i18n("app_Name")}</a>
          <div class="nav-collapse">
            <ul class="nav">
				<#if (session.username)??>
				<#if (mboxes)??>
				  	<li class="active"><a href="${contextPath}/angmail">${i18n("menu_Link_Mb")}</a></li>
				  <#else>
				  	<li><a href="${contextPath}/angmail">${i18n("menu_Link_Mb")}</a></li>
				  </#if>
				  <#if (mbFrmDat)??>
				  	<li class="active"><a href="${contextPath}/mail/add">${i18n("menu_Link_AddMb")}</a></li>     
				  <#else>
				  	<li><a href="${contextPath}/mail/add">${i18n("menu_Link_AddMb")}</a></li>     
				  </#if>                       
            </ul>
            <ul class="nav pull-right">
            		<li class="nav navbar-text" id="headerUsername">${session.username}</li>
            	<#if (session.adm)??>
	            	<li><a href="${contextPath}/admin">Admin</a></li>
            	</#if>
            		<#if (userFormData)??>
			      		<li class="active"><a href="${contextPath}/user/edit">${i18n("menu_Link_Edit")}</a></li>
			      	<#else>
			      		<li><a href="${contextPath}/user/edit">${i18n("menu_Link_Edit")}</a></li>
			      	</#if>
	            		<li><a href="${contextPath}/logout">${i18n("menu_Link_Logout")}</a></li>
				<#else>
				
					<#if (loginFormData)??>
			      		<li class="active"><a href="${contextPath}/login">${i18n("menu_Link_Login")}</a></li>  
			      	<#else>
			      		<li><a href="${contextPath}/login">${i18n("menu_Link_Login")}</a></li>  
			      	</#if>

					<#if (registerUserData)??>
			      		<li class="active"><a href="${contextPath}/register">${i18n("menu_Link_Register")}</a></li>
			      	<#else>
			      		<li><a href="${contextPath}/register">${i18n("menu_Link_Register")}</a></li>
			      	</#if>
				</#if>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /container -->
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
    <script type="text/javascript" src="${contextPath}/assets/js/stringreplacetooltip.js"></script>
	<script type="text/javascript">
	$(document).ready(replaceUserName());
	</script>