

<!-- Modal: Delete Useraccount -->
<form action="${contextPath}/admin/whitelist/remove" id="removal">
	<div id="deleteUserModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">x</span>
					</button>
					<h3 id="deleteUserTitle">${i18n("adminRemoveUserAndDomain_Title")}</h3>
				</div>
				<!-- /modal-header -->

				<div class="modal-body">
					<p>${i18n("adminRemoveUserAndDomain_Label_Description")}</p>
				</div>
				<!-- /modal-body -->

				<div class="modal-footer">
					<input type="hidden" name="domainId" value="${domain.id}" />
					<button class="btn btn-danger" id="deleteUserSubmit" name="action" value="deleteUsersAndDomain">${i18n("adminRemoveUserAndDomain_Button_Confirm")}</button>
				</div>
				<!-- /modal-footer -->
			</div>
		</div>
	</div>
	<!-- /deleteUserModal -->
</form>
<!-- End Modal -->