<#import "../layout/adminLayout.ftl.html" as layout> <@layout.adminLayout
title=i18n("admin_Title_Transactions") >
<#import "../layout/macros.ftl.html" as pag/>
<h1 class="legendary">${i18n("admin_Title_Transactions")}</h1>
<#if (plist.getEntryCount() > 0) > 
<div class="row">
	<!-- begin delete mtx-entries -->
	<div class="btn-group pull-left">
		<button class="btn dropdown-toggle btn-small" data-toggle="dropdown">${i18n("admin_RemoveMtx")} <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="${contextPath}/admin/mtxs/delete/7">1 ${i18n("admin_Week")}</a></li>
			<li><a href="${contextPath}/admin/mtxs/delete/14">2 ${i18n("admin_Week")}</a></li>
			<li><a href="${contextPath}/admin/mtxs/delete/21">3 ${i18n("admin_Week")}</a></li>
			<li><a href="${contextPath}/admin/mtxs/delete/28">4 ${i18n("admin_Week")}</a></li>
			<li><a href="${contextPath}/admin/mtxs/delete/-1">All</a></li>
		</ul>
	</div><!-- /btn-group -->
	<!-- end delete mtx-entries -->
	<!-- begin rowcount -->
	<@pag.entrycount/>
	<!-- end rowcount -->

</div><!-- /row-fluid -->

<!-- begin mailtransaction-list -->
<div class="tab-content">  
<div class="tab-pane active" id="${curPage}">  
	<table class="table tablesorter table-hover table-condensed">
		<thead>
	    <tr>
		    <th class="header">${i18n("admin_Header_MtxTs")}</th>
		    <th class="header">${i18n("admin_Header_MtxStatus")}</th>
			<th class="header">${i18n("admin_Header_MtxSource")}</th>
		    <th class="header">${i18n("admin_Header_MtxRelay")}</th>
		    <th class="header">${i18n("admin_Header_MtxTarget")}</th>
	    </tr>
	    </thead>
	    <tbody>
	    <#list plist.getPage(curPage) as mtx>
			<#switch mtx.status>
		    		<#case 100> <tr class="error" id="mtx${mtx.id}"> <#break>
		    		<#case 200> <tr class="warning" id="mtx${mtx.id}"> <#break>
		    		<#case 300> <tr class="success" id="mtx${mtx.id}"> <#break>
		    		<#case 400> <tr class="error" id="mtx${mtx.id}"> <#break>
		    		<#case 500> <tr class="error" id="mtx${mtx.id}"> <#break>
		    		<#case 600> <tr class="warning" id="mtx${mtx.id}"> <#break>
		    		<#default> <tr>
			 </#switch>
					<td>${mtx.getTsAsString()}</td>
				    <td>
				    	<#switch mtx.status>
				    		<#case 100> ${i18n("admin_MtxStatus100")} <#break>
				    		<#case 200>	${i18n("admin_MtxStatus200")} <#break>
				    		<#case 300> ${i18n("admin_MtxStatus300")} <#break>
				    		<#case 400> ${i18n("admin_MtxStatus400")} <#break>
							<#case 500> ${i18n("admin_MtxStatus500")} <#break>
							<#case 600> ${i18n("admin_MtxStatus600")} <#break>
				    		<#default> ${i18n("admin_MtxStatusUnknown")}
				    	</#switch>
				    </td>
				    <td> ${(mtx.sourceaddr)!} </td>
				    <td> ${(mtx.relayaddr)!} </td>
				    <td> ${(mtx.targetaddr)!} </td>
			    </tr>
			</#list>
			</tbody>
	    </table>
	</div> <!-- /tab pane (active) --> 

<!-- end mailtransaction-list -->
</div>  <!-- tab-content -->

<@pag.paging name=plist currentPage=curPage />
<@pag.incSorter/>
<#else>
  	${i18n("admin_Label_NoEntries")}
</#if>

</@layout.adminLayout>	
