<#import "../layout/adminLayout.ftl.html" as layout>
<#import "../layout/macros.ftl.html" as pagination/>

<@layout.adminLayout title=i18n("admin_Welcome")>
<div>
	<h1 class="legendary">${i18n("adminStatisticsTitle")}</h1>

	<span class="subheading">${i18n("adminStatisticsToday")}</span>
	<canvas id="lastDay" width="600" height="200"></canvas>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<#--  class="legendary" -->
	<span class="subheading">${i18n("adminStatisticsWeek")}</span>
	<canvas id="lastWeek" width="600" height="200"></canvas>
	<p>&nbsp;</p>
	
	<!-- <div class="h-divider"> -->
	<span class="subheading">${i18n("adminStatisticsTodaySenderDomains")}</span>
	<p>&nbsp;</p>
	<div class="row">
		<!-- begin user table -->
		<div class="tab-content" id="dailyList">
			<table 
		       data-pagination="true"
		       data-id-field="id"
		       data-page-list="[10, 25, 50, 100, ${i18n("list_all")}]"
		       data-side-pagination="server"
		       data-sort-name="droppedCount"
		       data-sort-order="desc"
		       data-locale="${i18n("locale")}"
		       data-toggle="table" data-url="/admin/emailSenderPage?scope=day">
			    <thead>
			        <tr>
			        	<th class="domain" data-field="fromDomain" data-sortable="true">${i18n("adminStatisticsSenderDomain")}</th>
			            <th class="dropped" data-field="droppedCount" data-sortable="true" data-formatter="cellFormatter" data-align="right">${i18n("adminStatisticsDroppedMails")}</th>
			            <th class="forwarded" data-field="forwardedCount" data-sortable="true" data-formatter="cellFormatter" data-align="right">${i18n("adminStatisticsForwardedMails")}</th>
			        </tr>
			    </thead>
			</table>
		</div><!-- /tab-content -->
	</div><!-- /row -->
	<!-- end statistics table -->
	<p>&nbsp;</p>
	<span class="subheading">${i18n("adminStatisticsWeekSenderDomains")}</span>
	<p>&nbsp;</p>
	<div class="row">
		<!-- begin user table -->
		<div class="tab-content" id="weeklyList">
			<table 
       data-pagination="true"
       data-id-field="id"
       data-page-list="[10, 25, 50, 100, ${i18n("list_all")}]"
       data-side-pagination="server"
       data-sort-name="droppedCount"
       data-sort-order="desc"
       data-locale="${i18n("locale")}"
       data-toggle="table" data-url="/admin/emailSenderPage?scope=week">
	    <thead>
	        <tr>
	        	<th class="domain" data-field="fromDomain" data-sortable="true">${i18n("adminStatisticsSenderDomain")}</th>
	            <th class="dropped" data-field="droppedCount" data-sortable="true" data-formatter="cellFormatter" data-align="right">${i18n("adminStatisticsDroppedMails")}</th>
	            <th class="forwarded" data-field="forwardedCount" data-sortable="true" data-formatter="cellFormatter" data-align="right">${i18n("adminStatisticsForwardedMails")}</th>
	        </tr>
	    </thead>
	</table>
		</div><!-- /tab-content -->
	</div><!-- /row -->
	<!-- end statistics table -->
	
	<script>
		function cellFormatter(value, row, index, field) {
			let formatter = new Intl.NumberFormat('${i18n("locale")}', { style: 'decimal'});
			return formatter.format(value);
		}
	
		let lastDayTimestamps = [<#list lastDayTimestamps as value>${value},</#list>]
		let lastDayDroppedData = [<#list lastDayDroppedData as value>${value},</#list>]
		let lastDayForwardedData = [<#list lastDayForwardedData as value>${value},</#list>]
		
		let lastWeekTimestamps = [<#list lastWeekTimestamps as value>${value},</#list>]
		let lastWeekDroppedData =  [<#list lastWeekDroppedData as value>${value},</#list>]
		let lastWeekForwardedData =  [<#list lastWeekForwardedData as value>${value},</#list>]
		
		let formatter = new Intl.NumberFormat('${i18n("locale")}', { style: 'decimal'});
	
		let lastDayChart = new Chart(document.getElementById("lastDay").getContext('2d'), {
			type: 'line',
			backgroundColor: '#ff6384',
			
			data: {
					labels: lastDayTimestamps,
					datasets: [{
						label: "${i18n("adminStatisticsDroppedMails")}",
						data: lastDayDroppedData,
						borderColor: 'rgb(255, 99, 132)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }, {
					  	label: "${i18n("adminStatisticsForwardedMails")}",
						data: lastDayForwardedData,
						borderColor: 'rgb(54, 162, 235)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }]
				  },
		    options: { 
		    	scales: {
                	xAxes: [{
                    	type: 'time',
                    	time: {
	                        unit: 'hour',
    	                    parser: 'x'
        	            },
        	            scaleLabel: {
        	            	display: true,
        	            	labelString: '${i18n("adminStatisticsTimeAxisLabel")}'
        	            }
            	    }],
            	    yAxes: [{
            	    	position: 'left',
            	    	type: 'linear',
            	    	scaleLabel: {
            	    		display: true,
            	    		labelString: '${i18n("adminStatisticsDroppedMailsGraphAxesLabel")}'
            	    	},
                		ticks: {
                			min: 0,
                    		callback: function(value, index, values) {
                    			return formatter.format(value);
                    		}
                		}
            		}]
            	},
            	animation: {
            		duration: 0
            	}
            }
		});
		
		let lastWeekChart = new Chart(document.getElementById("lastWeek").getContext('2d'), {
			type: 'line',
			data: {
					labels: lastWeekTimestamps,
					datasets: [{
						label: "${i18n("adminStatisticsDroppedMails")}",
						data: lastWeekDroppedData,
						borderColor: 'rgb(255, 99, 132)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }, {
						label: "${i18n("adminStatisticsForwardedMails")}",
						data: lastWeekForwardedData,
						borderColor: 'rgb(54, 162, 235)',
						backgroundColor: 'rgba(0, 0, 0, 0.1)'
					  }]
				  },
			options: {
		    	scales: {
                	xAxes: [{
                		type: 'time',
                    	time: {
	                        unit: 'day',
    	                    parser: 'x'
        	            },
        	            scaleLabel: {
        	            	display: true,
        	            	labelString: '${i18n("adminStatisticsTimeAxisLabel")}'
        	            }
            	    }],
            	    yAxes: [{
            	    	position: 'left',
            			type: 'linear',
            			scaleLabel: {
            				display: true,
            	    		labelString: '${i18n("adminStatisticsDroppedMailsGraphAxesLabel")}'
            			},
            			ticks: {
                			min: 0,
                    		callback: function(value, index, values) {
                    			return formatter.format(value);
                    		}
                		}
            		}]
            	},
            	animation: {
            		duration: 0
            	}
            }
		});
				
		lastDayChart.update();
		lastWeekChart.update();
	</script>
</div>
</@layout.adminLayout>