<div>
	<ul class="nav nav-pills nav-stacked">
		<#if (users)??>
			<li class="active"><a href="/admin/users">Users</a></li>
		<#else>
			<li><a href="/admin/users">Users</a></li>
		</#if>
		
		<#if (stats)??>
			<li class="active"><a href="/admin/summedtx">Summed Statistics</a></li>
		<#else>
			<li><a href="/admin/summedtx">Summed Statistics</a></li>
		</#if>
		
		<#if (plist)??>
			<li class="active"><a href="/admin/mtxs">Transactions</a></li>
		<#else>
			<li><a href="/admin/mtxs">Transactions</a></li>
		</#if>
	</ul>
</div>


