    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">${app_name}</a>
          <div class="nav-collapse">
            <ul class="nav nav-pills">
		          <li><a href="/logout">${i18nlink_logout}</a></li>
			  <li><a href="/user/edit">${i18nlink_edit}</a></li>
			  <li><a href="/mail">${i18nlink_mb}</a></li>
			  <li><a href="/mail/add">${i18nlink_addmb}</a></li>		                                            
			  <li><a href="/admin">${i18nlink_admin}</a></li>	

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
