    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">${app_Name}</a>
          <div class="nav-collapse">
            <ul class="nav nav-pills">
		          <li><a href="/logout">${i18nLink_Logout}</a></li>
			  <li><a href="/user/edit">${i18nLink_Edit}</a></li>
			  <li><a href="/mail">${i18nLink_Mb}</a></li>
			  <li><a href="/mail/add">${i18nLink_AddMb}</a></li>		                                            
			  <li><a href="/admin">${i18nLink_Admin}</a></li>	

            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
