<#import "../layout/loginLayout.ftl.html" as layout> <@layout.myLayout
"${mailbox_new}">

<!-- Example row of columns -->
<div class="row">
	<div class="span4">
		<p>${mailbox_new} - Fehler</p>

		<p>
		<form action="/mail/add" method="post">
			<table class="form">
				<tr>
					<th><label for="address"> ${mailbox_address} </label></th>
					<td><input class="input_full" type="text" id="address"
						name="address" value="${ (mbFrmDat.address)!}" required="required"/></td>
				</tr>
				<tr>
					<th><label for="domain"> ${mailbox_domain} </label></th>
					<td>
					<select name="domain">
					<#list domain as String>
						<#if (mbFrmDat.domain)??>
							<#if (mbFrmDat.domain==String)>Test erfolgreich</#if>
							<option value="${String}"  selected="selected"> ${String}</option>
						<#else>
							<option value="${String}" > ${String}</option>
						</#if>
					</#list>
					</select>
					</td>
				</tr>

				<tr>
					<th><label for="duration"> ${mailbox_duration} </label></th>
					<td><input class="input_full" type="text" id="duration"
						name="duration"	value="${ (mbFrmDat.duration)!}" required="required"/>
						</td>
		</tr>
	</table>

	<p>
		<input type="submit" class="btn" value="${mailbox_new}" /> <input type="reset"
						class="btn" value="Reset">

						</p>
						</form>

						</p>

						</div>
						</div> 
</@layout.myLayout> 
