<#import "../layout/loginLayout.ftl.html" as layout> <@layout.myLayout
"Home Page">
<div class="row">
	<div class="span4">
		<p>${i18nmailbox_edit}</p> 
		<p>
			<form action="/mail/edit/${mbFrmDat.boxId}" method="post">
				<table class="form">
					<tr>
						<th><label for="address"> ${i18nmailbox_address} </label></th>
						<td><input class="input_full" type="text" id="address"
							name="address" value="${ (mbFrmDat.address)!}" required="required"/></td>
					</tr>
					<tr>
						<th><label for="domain"> ${i18nmailbox_domain} </label></th>
						<td>
							<select name="domain">
								<#list domain as String>
									<#if (mbFrmDat.domain)??>
										<#if (mbFrmDat.domain==String)>
											<option value="${String}"  selected="selected"> ${String}</option>
										<#else>
											<option value="${String}" > ${String}</option>
										</#if>
									<#else>
										<option value="${String}" > ${String}</option>
									</#if>
								</#list>
							</select>
						</td>
					</tr>
					<tr>
						<th><label for="duration"> ${i18nmailbox_duration} </label></th>
						<td><input class="input_full" type="text" id="duration"
							name="duration"  value="${ (mbFrmDat.duration)!}" required="required"/></td>
					</tr>
				</table>
				<p>
					<input type="submit" class="btn" value="${i18nmailbox_edit}" /> <input type="reset" class="btn" 
						value="Reset"> 
				</p>
			</form>
		</p>
	</div>
</div>
</@layout.myLayout>

