<#import "../layout/loginLayout.ftl.html" as layout> <@layout.myLayout
"Home Page">

<div class="row">
	<div class="span4">
		<p>${i18nmailbox_title}</p> 
	<!--mailboxoverview-->
		<p>
		<table class="table table-hover">
		    <tr>
		    	<th>${i18nmailbox_address}</th>
		    	<th>${i18nmailbox_duration}</th>
		    	<th>${i18nmailbox_forwards}</th>
		    	<th>${i18nmailbox_suppressions}</th>
		    	<th>${i18nmailbox_valid}</th>
			    <th>${i18nmailbox_renew}</th>
			    <th>${i18nmailbox_delete}</th>
			    <th>${i18nmailbox_edit}</th>
		    </tr>
		<#list mboxes as mBox>
		    <#if (mBox.isExpired())>
				<tr class="error">     
		    <#else>
		    <tr class="success">
		    </#if>   
				<td>${mBox.address}&#064;${mBox.domain}</td>
				
				<td>${mBox.getTSAsString()}</td>
				
				<td>${mBox.forwards}</td>
				<td>${mBox.suppressions}</td>
				
				<#if (mBox.isActive())>
    				<td>${i18nmsg_yes}</td>
	    			 <td><form action="/mail/expire/${mBox.id}" method="post">
	                    <input type="submit" class= "btn" value="${i18nmailbox_deactivate}"/>
	                    </form>
	                </td>
		    	<#else>
	    			<td>${i18nmsg_no}</td>
	    	    	<td>
		    	    	<form action="/mail/expire/${mBox.id}" method="post">
		                    <input type="submit" class= "btn" value="${i18nmailbox_activate}"/>
		                </form>
	                </td>
		    	</#if>
		    	
    			<td>
    			<form action="/mail/delete/${mBox.id}" method="post"> 
                    <input type="submit" class= "btn" value="${i18nmailbox_delete}"/>
                </form>
                </td>
                
		        <td> 
		        <form action="/mail/edit/${mBox.id}" method="get">
		             <input type="submit" class= "btn" value="${i18nmailbox_edit}"/>
		         </form>
		        </td>
			</tr>
		</#list>
    </table>
		
		</p>
		
	</div>
</div>

</@layout.myLayout>

