<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%d{HH:mm:ss.SSS}] %-5p [%t] - %m%n</Pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <File>log/xcmailr.log</File>
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p [%t] %c{1}:%L - %m%n</Pattern>
        </encoder>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>log/xcmailr.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <!-- Ninja Framework (uses both named logger "Ninja" and package logger "ninja.*") -->
    <logger name="Ninja" additivity="false" level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <logger name="ninja" additivity="false" level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <!-- SubEthaMail -->
    <logger name="org.subethamail" additivity="false" level="warn">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <!-- JavaMail -->
    <logger name="javax.mail" additivity="false" level="error">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <logger name="com.sun.mail" additivity="false" level="error">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <!-- XCMailr -->
    <logger name="controllers" additivity="false" level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <logger name="services" additivity="false" level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <!-- Flyway -->
    <logger name="org.flywaydb" additivity="false" level="error">
        <appender-ref ref="console" />
    </logger>
    <!-- all other code -->
    <root level="warn">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>
