<?xml version="1.0" encoding="UTF-8"?>

<!-- ####################################################################### -->
<!-- Local overrides for the default Logback configuration.                  -->
<!-- Will be effective only when using Ninja's "SuperDevMode".               -->
<!-- ####################################################################### -->

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%d{HH:mm:ss.SSS}] %-5p [%t] - %m%n</Pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/xcmailr.log</File>
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p [%t] %c{1}:%L - %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>log/xcmailr.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>
    <!-- Ninja Framework (uses both named logger "Ninja" and package logger "ninja.*") -->
    <logger name="Ninja" additivity="false" level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="ninja" additivity="false" level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <!-- SubEthaMail -->
    <logger name="org.subethamail" additivity="false" level="warn">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <!-- JavaMail -->
    <logger name="javax.mail" additivity="false" level="error">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <logger name="com.sun.mail" additivity="false" level="error">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>
    <!-- XCMailr -->
    <logger name="controllers" additivity="false" level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <logger name="services" additivity="false" level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </logger>
    <!-- Flyway -->
    <logger name="org.flywaydb" additivity="false" level="debug">
        <appender-ref ref="console" />
    </logger>
    <!-- all other code -->
    <root level="warn">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
