

<!-- Modal: Delete Useraccount -->
<form action="${contextPath}/user/delete" method="post" class="form-horizontal" id="deleteUserForm" name="deleteUserForm">
	<div id="deleteUserModal" class="modal fade">
		<div class="modal-dialog">

			<div class="modal-content">
			
				<div class="modal-header" class="modal">
					<button class="btn-close close" ng-click="dismiss()" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<legend>${i18n("deleteUser_Title")}</legend>
				</div>
				<!-- /modal-header -->

				<div class="modal-body">
					<div class="form-group row">
						<div class="col-sm-2"></div>
						<div class="col-sm-10">
							<p><#noescape>${i18n("deleteUser_Label_Description")}</#noescape></p>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label" for="password"> ${i18n("deleteUser_Label_CurrentPassword")}* </label>
						<div class="col-sm-10">
							<input class="form-control" type="password" id="password" name="password" required="required" autocomplete="off" />
						</div>
					</div>
				</div>
				<!-- /modal-content -->

				<div class="modal-footer">
					<div class="form-group row">
						<div class="col-sm-2"></div>
						<div class="col-sm-10">
							<span class="pull-left">* ${i18n("editUser_Label_RequiredDescription")}</span>
							<button type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true">${i18n("deleteUser_Button_Reset")}</button>
							<input type="submit" class="btn btn-success btn-submit" id="deleteUserSubmit" value='${i18n("deleteUser_Button_Submit")}' />
						</div>
					</div>
				</div>
				<!-- /modal-footer -->

			</div>
			
		</div>
	</div>
	<!-- /deleteUserModal -->
</form>
<!-- End Modal -->