

<!-- Modal: Edit Useraccount -->
<form action="${contextPath}/user/edit" method="post" class="form-horizontal" id="editUserForm" name="editUserForm">
	<fieldset>
		<h1 class="legendary">${i18n("editUser_Title")}</h1>
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="form-group row">
					<label class="col-sm-2 control-label" for="password">${i18n("editUser_Label_CurrentPassword")}*</label>
					<div class="col-sm-10">
						<input class="form-control" type="password" id="password" name="password" value="${(userFormData.password)!}" required="required" />
					</div>
				</div>
				<br />
				<div class="form-group row">
					<label class="col-sm-2 control-label" for="firstName">${i18n("editUser_Label_FirstName")}*</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" id="firstName" name="firstName" value="${(userFormData.firstName)!}" required="required" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 control-label" for="surName">${i18n("editUser_Label_Name")}*</label>
					<div class="col-sm-10">
						<input class="form-control" type="text" id="surName" name="surName" value="${(userFormData.surName)!}" required="required" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 control-label" for="mail">${i18n("editUser_Label_Email")}*</label>
					<div class="col-sm-10">
						<input class="form-control" type="email" id="mail" name="mail" value="${(userFormData.mail)!}" required="required" />
					</div>
				</div>
				<br />
				<div class="form-group row passwords">
					<label class="col-sm-2 control-label" for="passwordNew1">${i18n("editUser_Label_NewPassword")}</label>
					<div class="col-sm-10">
						<input class="form-control" type="password" id="passwordNew1" name="passwordNew1" value="${(userFormData.passwordNew1)!}" />
					</div>
				</div>
				<div class="form-group row passwords">
					<label class="col-sm-2 control-label" for="passwordNew2">${i18n("editUser_Label_NewPasswordRepeated")}</label>
					<div class="col-sm-10" id="divPasswordRepeat">
						<input class="form-control" type="password" id="passwordNew2" name="passwordNew2" value="${(userFormData.passwordNew2)!}" />
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 control-label" for="language"> ${i18n("editUser_Label_Language")} </label>
					<div class="col-sm-10">
						<select name="language" id="language" class="form-control"> <#list available_langs as lng> <#if (userFormData.language)??> <#if userFormData.language == lng[0]>
							<option value="${lng[0]}" selected="selected">${lng[1]}</option> <#else>
							<option value="${lng[0]}">${lng[1]}</option> </#if> <#else>
							<option value="${lng[0]}">${lng[1]}</option> </#if> </#list>
						</select>
					</div>
				</div>

				<div class="col-sm-2"></div>
				<div class="col-sm-10">
					<div class="form-group modal-footer row">
						<span class="pull-left">* ${i18n("editUser_Label_RequiredDescription")}</span> <input type="button" id="editUserReset" class="btn btn-warning" value='${i18n("editUser_Button_Reset")}' /> <input type="button" id="editUserSubmit"
							class="btn btn-success btn-submit" value='${i18n("editUser_Button_Save")}' />
					</div>
				</div>
				<div class="form-group row">
					<legend>${i18n("editUser_DeleteAccount_Title")}</legend>
					<div class="col-sm-12">
						<a href="#deleteUserModal" role="button" class="btn btn-danger pull-right remove-user" data-toggle="modal">${i18n("editUser_Button_DeleteAccount")}</a>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</form>