<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.xcLayout title=i18n("editUser_Title")>

<#include "editUserModal.ftl.html"/>
<#include "deleteUserBoxDialog.ftl.html"/>

<script type="text/javascript">
	$('#editUserSubmit')
			.click(
					function() {
						var pw1 = $('input#passwordNew1').val();
						var pw2 = $('input#passwordNew2').val();
						if (pw1 != pw2) {
							$('#pwUnequalErrorSpan').remove();
							$('.passwords').removeClass("error");
							$('#divPasswordRepeat')
									.append(
											'<span class="help-inline" id="pwUnequalErrorSpan">${i18n("flash_PasswordsUnequal")}</span>')
							$('.passwords').addClass("error");
							return false;
						} else {
							$('#editUserForm').submit();
						}
					});
	$('#editUserReset').click(function() {
		$('#pwUnequalErrorSpan').remove();
		$('.passwords').removeClass("error");
		$('#editUserForm')[0].reset();
	});
</script>
</@layout.xcLayout>
