<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.xcLayout title="m">
<div class="row">
<div class="span7">
	<form action="${contextPath}/user/edit" method="post" class="form-horizontal">
		<fieldset>
			<legend>${i18n("editUser_Title")}</legend>  
			<div class="control-group"> 
				<label class="control-label" for="password">${i18n("editUser_CurrentPassword_Label")}*</label>
				<div class="controls">  
					<input class="input_full" type="password" id="password" name="password" value="${(userFormData.password)!}" required="required"/>
				</div>
			</div>	
			<br/>	
	        <div class="control-group"> 
				<label class="control-label" for="firstName">${i18n("editUser_FirstName_Label")}*</label>
				<div class="controls">  
					<input class="input_full" type="text" id="firstName" name="firstName" value="${(userFormData.firstName)!}" required="required"/>
				</div>
			</div>
			<div class="control-group"> 
				<label class="control-label" for="surName">${i18n("editUser_Name_Label")}*</label>
				<div class="controls">  
					<input class="input_full" type="text" id="surName" name="surName" value="${(userFormData.surName)!}" required="required"/>
				</div>
			</div>
			<div class="control-group"> 
				<label class="control-label" for="mail">${i18n("editUser_Email_Label")}*</label>
				<div class="controls">  
					<input class="input_full" type="email" id="mail" name="mail" value="${(userFormData.mail)!}" required="required"/>
				</div>
			</div>	
		<br/>
			<div class="control-group"> 
				<label class="control-label" for="passwordNew1">${i18n("editUser_NewPassword_Label")}</label>
				<div class="controls">  
					<input class="input_full" type="password" id="passwordNew1" name="passwordNew1" value="${(userFormData.passwordNew1)!}"/>
				</div>
			</div>		
			<div class="control-group"> 
				<label class="control-label" for="passwordNew2">${i18n("editUser_NewPasswordRepeated_Label")}</label>
				<div class="controls">  
					<input class="input_full" type="password" id="passwordNew2" name="passwordNew2" value="${(userFormData.passwordNew2)!}"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label"  for="language2"> ${i18n("registerUser_Language_Label")} </label>
				<div class="controls">
				<select name="language" id="language" >
				<#list available_langs as lng>
					<#if (userFormData.language)??>
			  			<#if userFormData.language==lng[0]>	
			  			<option value="${lng[0]}" selected="selected">${lng[1]}</option>
			  			<#else>
			  			<option value="${lng[0]}" >${lng[1]}</option>
			  			</#if>
			  		<#else>
			  		<option value="${lng[0]}" >${lng[1]}</option>
			  		</#if>		
				</#list>
				</select>
				</div>
			</div>
			<div class="control-group"> 
				<label class="control-label" >* ${i18n("editUser_RequiredDescription_Label")}</label>
			</div>
	
			<div class="form-actions"> 
				<input type="reset"  class="btn" value="${i18n("editUser_Reset_Label")}"/>
				<input type="submit" class="btn btn-primary" value="${i18n("editUser_Save_Label")}"/>  
			</div>
	
		</fieldset>
	</form>
</div>
</div>
</@layout.xcLayout>
