h1.legendary {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
form.nomarg {
	margin: 0 0 0px;
}

/* tables */

table.tablesorter thead tr .header {
	background-image: url("../img/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}


table.tablesorter thead tr .headerSortUp {
	background-image: url("../img/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("../img/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #c3c9cd;
}

div.tooltip-inner{
	text-align: center;
	max-width : 666px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-bottom: 6px;
    background-color: #505050;
    font-size: 14px;
}