h1.legendary {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

h3.legendary {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 40px;
	color: #333333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 height:1px;
 width:100%;
 border-top:1px solid gray;
}

span.subheading {
	font-size: 16px;
}

form.nomarg {
	margin: 0 0 0px;
}

.tooltip {
	bottom: 0;
	left: 5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
	background-color: #0000FF
}

.btn-mini {
	padding-right: 5px;
}

.btn-link {
	padding: 1px 1px;
}

/* tables */
table.tsort thead tr .headerSort {
	background-image: url("../img/bg.gif");
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 20px;
	cursor: pointer;
}

table.tsort thead tr .headerSortUp {
	background-image: url("../img/asc.gif");
}

table.tsort thead tr .headerSortDown {
	background-image: url("../img/desc.gif");
}

table.tsort thead tr .headerSortDown, table.tsort thead tr .headerSortUp {
	background-color: #c3c9cd;
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

div.tooltip-inner {
	text-align: center;
	max-width: 666px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 6px;
	background-color: #505050;
	font-size: 14px;
}

.row {
	margin-right: auto;
	margin-left: auto;
}

.row.ng-scope {
	margin-right: -15px;
	margin-left: -15px;
}